/*------------------------------*\
	$BLOCKS
\*------------------------------*/
.block { padding: 28px 56px; }
/* HALF */
.block-half, .frame { padding: 14px; }
.block-half-top { padding-top: 14px; }
.block-half-bot { padding-bottom: 14px; }
.block-half-tb {
	padding-bottom: 14px;
	padding-top: 14px;
}
.block-half-lr {
	padding-left: 14px;
	padding-right: 14px;
}
/* SINGLE */
.block-single, .tagcloud, .note, .alert { padding: 28px; }
.block-single-tb {
	padding-bottom: 28px;
	padding-top: 28px;
}
.block-single-lr {
	padding-left: 28px;
	padding-right: 28px;
}
.block-single-top, .block-full-content { padding-top: 28px; }
.block-single-bot { padding-bottom: 28px; }
/* MID */
.block-mid { padding: 42px; }
.block-mid-tb {
	padding-bottom: 42px;
	padding-top: 42px;
}
.block-mid-lr {
	padding-left: 42px;
	padding-right: 42px;
}
.block-mid-top { padding-top: 42px; }
.block-mid-bot { padding-bottom: 42px; }
/* DOUBLE */
.block-double { padding: 56px; }
.block-double-tb {
	padding-bottom: 56px;
	padding-top: 56px;
}
.block-double-lr {
	padding-left: 56px;
	padding-right: 56px;
}
.block-double-top, .block-full-top { padding-top: 56px; }
.block-double-bot, .block-full-content { padding-bottom: 56px; }
.block-double-content { padding: 28px 56px 56px; }
/* TRIPLE */
.block-triple { padding: 84px; }
.block-triple-tb {
	padding-bottom: 84px;
	padding-top: 84px;
}
.block-triple-lr {
	padding-left: 84px;
	padding-right: 84px;
}
.block-triple-top { padding-top: 84px; }
.block-triple-bot { padding-bottom: 84px; }
.block-triple-double { padding: 84px 56px; }
/* QUAD */
.block-quad { padding: 112px; }
.block-quad-tb {
	padding-bottom: 112px;
	padding-top: 112px;
}
.block-quad-lr {
	padding-left: 112px;
	padding-right: 112px;
}
.block-quad-top { padding-top: 112px; }
.block-quad-bot { padding-bottom: 112px; }
.block-full-quad {
	padding-bottom: 84px;
	padding-top: 112px;
}
/* NONE */
.pt-none { padding-top: 0; }
.pr-none { padding-right: 0; }
.pb-none { padding-bottom: 0; }
.pl-none { padding-left: 0; }
@media all and (min-width: 1008px) {
	.close-on-desktop { display: none !important; }
}
@media all and (min-width: 900px) {
	.block-full {
		padding-bottom: 56px;
		padding-top: 56px;
	}
	[class*="block-full"] {
		padding-left: 20.833333333333%;
		padding-right: 20.833333333333%;
	}
}
@media all and (max-width: 1008px) {
	.close-on-max { display: none; }
	.block-full-top { padding-top: 56px; }
}
@media all and (max-width: 900px) {
	/* TRIPLE */
	.block-full, .block-quad { padding: 84px; }
	.block-quad-tb, .block-full-quad {
		padding-bottom: 84px;
		padding-top: 84px;
	}
	.block-quad-top { padding-top: 84px; }
	.block-quad-bot { padding-bottom: 84px; }
	[class*="block-full"], .block-quad-lr {
		padding-left: 84px;
		padding-right: 84px;
	}
	/* DOUBLE */
	.block-triple, .block-triple-double { padding: 56px; }
	.block-triple-tb {
		padding-bottom: 56px;
		padding-top: 56px;
	}
	.block-triple-lr {
		padding-left: 56px;
		padding-right: 56px;
	}
	.block-triple-top { padding-top: 56px; }
	.block-triple-bot { padding-bottom: 56px; }
}
@media all and (max-width: 700px) {
	/* SINGLE + HALF */
	.block-quad { padding: 28px 14px; }
	.block-triple, .block-triple-double, .block-double, .block-mid, .block-double-content, .block { padding: 28px; }
	.block-quad-tb, .block-triple, .block-triple-tb, .block-double-tb, .block-double {
		padding-bottom: 28px;
		padding-top: 28px;
	}
	.block-full {
		padding-bottom: 28px;
		padding-top: 28px;
	}
	.block-full-quad {
		padding-bottom: 28px;
		padding-top: 56px;
	}
	[class*="block-full"], .block-quad-lr, .block-triple, .block-triple-lr, .block-triple-double, .block-double, .block-double-content, .block-double-lr, .block-single-lr, .block, .block-single, .tagcloud, .note, .alert {
		padding-left: 14px;
		padding-right: 14px;
	}
	.block-quad-top, .block-triple-top, .block-double-top { padding-top: 28px; }
	.block-quad-bot, .block-triple-bot, .block-double-bot { padding-bottom: 28px; }
}
/*------------------------------*\
	$COLORS
\*------------------------------*/
div.editor-styles-wrapper .has-primary-background-color { background-color: #AE2525; }
div.editor-styles-wrapper .has-primary-color { color: #AE2525; }
div.editor-styles-wrapper .has-secondary-background-color { background-color: #3E3E3E; }
div.editor-styles-wrapper .has-secondary-color { color: #3E3E3E; }
div.editor-styles-wrapper .has-tertiary-background-color { background-color: #DDDDDD; }
div.editor-styles-wrapper .has-tertiary-color { color: #DDDDDD; }
div.editor-styles-wrapper .has-action-background-color { background-color: #EDF6FD; }
div.editor-styles-wrapper .has-action-color { color: #EDF6FD; }
div.editor-styles-wrapper .has-accent-background-color { background-color: #FFFBCC; }
div.editor-styles-wrapper .has-accent-color { color: #FFFBCC; }
div.editor-styles-wrapper .has-white-background-color { background-color: #FFFFFF; }
div.editor-styles-wrapper .has-white-color { color: #FFFFFF; }
div.editor-styles-wrapper .has-text-background-color { background-color: #1E1E1E; }
div.editor-styles-wrapper .has-text-color { color: #1E1E1E; }
div.editor-styles-wrapper .has-text-sec-background-color { background-color: #777777; }
div.editor-styles-wrapper .has-text-sec-color { color: #777777; }
div.editor-styles-wrapper .has-links-background-color { background-color: #AE2525; }
div.editor-styles-wrapper .has-links-color { color: #AE2525; }
div.editor-styles-wrapper .has-button-background-color { background-color: #22A340; }
div.editor-styles-wrapper .has-button-color { color: #22A340; }
div.editor-styles-wrapper .has-button-sec-background-color { background-color: #999999; }
div.editor-styles-wrapper .has-button-sec-color { color: #999999; }
/*------------------------------*\
	$TYPOGRAPHY
\*------------------------------*/
div.editor-styles-wrapper a, div.editor-styles-wrapper a:hover {
	color: #AE2525;
	text-decoration: underline;
}
div.editor-styles-wrapper a:hover { text-decoration: none; }
/* ICONS */
@font-face {
	font-family: md-icon;
	font-display: swap;
	src: url('http://localhost:8888/wp/wp-content/themes/marketers-delight/lib/icons/md.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
[class*="md-icon"]:before {
	display: inline-block;
	font-family: md-icon;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
}
.md-icon.icon-data:before { content: attr(data-md-icon); }
/* WRAPS */
.wp-block { max-width: 588px; }
@media all and (min-width: 900px) {
	.editor-styles-wrapper .alignwide, .editor-styles-wrapper .wp-block[data-align="wide"] { max-width: 644px; }
}
/* MAIN TYPE */
div.editor-styles-wrapper {
			background-color: #FFFFFF;
		color: #1E1E1E;
}
#editor .editor-post-title__block .editor-post-title__input,
div.editor-styles-wrapper h1,
div.editor-styles-wrapper h2,
div.editor-styles-wrapper h3,
div.editor-styles-wrapper h4,
div.editor-styles-wrapper h5,
div.editor-styles-wrapper h6 { color: #1E1E1E; }
div.editor-styles-wrapper h2:not(:first-child),
div.editor-styles-wrapper h3:not(:first-child),
div.editor-styles-wrapper h4:not(:first-child),
div.editor-styles-wrapper h5:not(:first-child) { margin-top: 42px; }
div.editor-styles-wrapper ol, div.editor-styles-wrapper ul { padding-left: 56px; }
div.editor-styles-wrapper li { margin-bottom: 9px; }
div.editor-styles-wrapper p {
	margin-bottom: 28px;
	margin-top: 0;
}
div.editor-styles-wrapper p:last-child, div.editor-styles-wrapper p:empty { margin-bottom: 0; }
.wp-block.wp-block-heading { margin-bottom: 14px; }
.editor-block-list__layout .editor-block-list__block:not([data-align="full"]) {
	padding-left: 0;
	padding-right: 0
}
.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit {
	margin-left: 0;
	margin-right: 0
}
div.editor-styles-wrapper p.huge-title,
div.editor-styles-wrapper p.large-title,
div.editor-styles-wrapper p.med-title,
div.editor-styles-wrapper p.mid-title,
div.editor-styles-wrapper p.micro-title,
div.editor-styles-wrapper p.small-title { margin-top: 0; }
.editor-styles-wrapper .intro {
	font-size: 20px;
	line-height: 31px;
}
div.editor-styles-wrapper,
div.editor-styles-wrapper p,
.editor-post-title__block .editor-post-title__input {
	font-size: 17px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		line-height: 28px;
}
div.editor-styles-wrapper .has-huge-font-size,
div.editor-styles-wrapper .has-large-font-size,
div.editor-styles-wrapper .has-medium-font-size,
div.editor-styles-wrapper .has-small-font-size { line-height: initial; }
div.editor-styles-wrapper .huge-title, div.editor-styles-wrapper .huge-text {
	font-size: 62px;
	line-height: 76px;
}
div.editor-styles-wrapper .huge-title {
	font-weight: bold;
}
.editor-post-title__block .editor-post-title__input, div.editor-styles-wrapper h1, div.editor-styles-wrapper .large-title, div.editor-styles-wrapper .large-text {
	font-size: 41px;
	line-height: 55px;
}
.editor-post-title__block .editor-post-title__input, div.editor-styles-wrapper h1, div.editor-styles-wrapper .large-title {
	font-weight: bold;
}
div.editor-styles-wrapper h2, div.editor-styles-wrapper .large-title, div.editor-styles-wrapper .large-text {
	font-size: 35px;
	line-height: 49px;
}
div.editor-styles-wrapper h2, div.editor-styles-wrapper .large-title {
	font-weight: bold;
}
div.editor-styles-wrapper h3, div.editor-styles-wrapper .med-title, div.editor-styles-wrapper .med-text {
	font-size: 31px;
	line-height: 45px;
}
div.editor-styles-wrapper h3, div.editor-styles-wrapper .med-title {
	font-weight: bold;
}
div.editor-styles-wrapper h4, div.editor-styles-wrapper .mid-title, div.editor-styles-wrapper .mid-text {
	font-size: 25px;
	line-height: 38px;
}
div.editor-styles-wrapper h4, div.editor-styles-wrapper .mid-title {
	font-weight: bold;
}
div.editor-styles-wrapper h5, div.editor-styles-wrapper .small-title, div.editor-styles-wrapper .small-text {
	font-size: 23px;
	line-height: 35px;
}
div.editor-styles-wrapper h5, div.editor-styles-wrapper .small-title {
	font-weight: bold;
}
div.editor-styles-wrapper h6, div.editor-styles-wrapper .micro-title, div.editor-styles-wrapper .micro-text {
	font-size: 18px;
	line-height: 26px;
}
div.editor-styles-wrapper h6, div.editor-styles-wrapper .micro-title {
	font-weight: bold;
}
@media all and (max-width: 900px) {
	div.editor-styles-wrapper .huge-title, div.editor-styles-wrapper .huge-text { font-size: 51px; line-height: 63px; }
	.editor-post-title__block .editor-post-title__input, div.editor-styles-wrapper h1, div.editor-styles-wrapper .large-title, div.editor-styles-wrapper .large-text { font-size: 34px; line-height: 46px; }
	div.editor-styles-wrapper h2, div.editor-styles-wrapper .large-title, div.editor-styles-wrapper .large-text { font-size: 29px; line-height: 41px; }
	div.editor-styles-wrapper h3, div.editor-styles-wrapper .med-title, div.editor-styles-wrapper .med-text { font-size: 26px; line-height: 38px; }
	div.editor-styles-wrapper h4, div.editor-styles-wrapper .mid-title, div.editor-styles-wrapper .mid-text { font-size: 20px; line-height: 30px; }
	div.editor-styles-wrapper h5, div.editor-styles-wrapper .small-title, div.editor-styles-wrapper .small-text { font-size: 19px; line-height: 29px; }
	div.editor-styles-wrapper h6, div.editor-styles-wrapper .micro-title, div.editor-styles-wrapper .micro-text { font-size: 18px; line-height: 26px; }
}
@media all and (max-width: 700px) {
	div.editor-styles-wrapper .huge-title, div.editor-styles-wrapper .huge-text { font-size: 45px; line-height: 56px; }
	.editor-post-title__block .editor-post-title__input, div.editor-styles-wrapper h1, div.editor-styles-wrapper .large-title, div.editor-styles-wrapper .large-text { font-size: 30px; line-height: 41px; }
	div.editor-styles-wrapper h2, div.editor-styles-wrapper .large-title, div.editor-styles-wrapper .large-text { font-size: 26px; line-height: 36px; }
	div.editor-styles-wrapper h3, div.editor-styles-wrapper .med-title, div.editor-styles-wrapper .med-text { font-size: 23px; line-height: 33px; }
	div.editor-styles-wrapper h4, div.editor-styles-wrapper .mid-title, div.editor-styles-wrapper .mid-text { font-size: 18px; line-height: 27px; }
	div.editor-styles-wrapper h5, div.editor-styles-wrapper .small-title, div.editor-styles-wrapper .small-text { font-size: 17px; line-height: 26px; }
	div.editor-styles-wrapper h6, div.editor-styles-wrapper .micro-title, div.editor-styles-wrapper .micro-text { font-size: 18px; line-height: 26px; }
}
/* SPACERS */
.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content,
.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
	margin-bottom: 28px;
	margin-top: 28px;
}
.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ol,
.block-library-list .editor-rich-text__tinymce ul,
.editor-styles-wrapper ul.md-list { margin-left: 28px; }
/* ALIGNMENTS */
.text-center, .aligncenter.wrap-small { text-align: center; }
.alignvertical {
	position: absolute;
		left: 50%;
		top: 50%;
	transform: translate(-50%,-50%);
}
/* FULL WIDTH */
@media all and (min-width: 900px) {
	.md-editor-full .wp-block.editor-post-title__block {
		max-width: 1008px;
		padding-left: 84px;
		padding-right: 84px;
	}
	.md-editor-full .editor-post-title,
	.md-editor-full .editor-post-title__block,
	.md-editor-full .editor-post-title__block .editor-post-title__input {
		padding-left: 0;
		padding-right: 0;
		word-break: normal;
	}
	.md-editor-full .editor-post-title__input { text-align: center; }
}
/* POST STYLES */
.wp-block-image figcaption {
	color: #777777;
	font-style: italic;
	font-size: 0.9em;
	margin-bottom: 0;
	text-align: center;
}
.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ol,
.block-library-list .editor-rich-text__tinymce ul,
.editor-styles-wrapper ul.md-list {
	list-style: square;
	padding-left: 0;
}
/* DESIGN / OVERLAYS / SHADOWS */
.wp-block.note { background-color: #DDDDDD; }
.wp-block.alert { background-color: #FFFBCC; }
.image-overlay {
	background-position: center top;
	background-size: cover;
	display: block;
	position: relative;
	z-index: 10;
}
.image-overlay:after {
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	width: 100%;
	z-index: -1;
}
.has-shadow, .shadow, .wp-block-image.shadow img { box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); }
.shadow-large, .wp-block-image.shadow-large img { box-shadow: 0 5px 55px rgba(0, 0, 0, 0.15); }
.shadow-small, .wp-block-image.shadow-small img { box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }
.wp-block-image.shadow, .wp-block-image.shadow-large, .wp-block-image.shadow-small { box-shadow: none; }
/*------------------------------*\
	$BUTTONS
\*------------------------------*/
.md-button, .md-submit {
	background-color: #22A340;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	display: inline-block;
	font-style: normal;
	padding: 14px;
	position: relative;
	text-align: center;
	z-index: 10;
	transition: 0.3s;
}
.md-button:hover, .md-submit:hover { transform: translateY(1px); }
/* SIZES */
.md-button.md-button-large {
	font-size: 1.4em;
	padding: 28px 42px;
}
/* OUTLINE */
.md-submit.md-submit-outline {
	background-color: transparent;
	border: 3px solid #22A340;
	border-radius: 5px;
	color: #22A340;
}
/* ARROW */
.md-button.md-button-arrow:after {
	content: '\e80f';
	display: inline-block;
	font-family: 'md-icon';
	margin-left: 13px;
	transition: 0.3s;
}
.md-button.md-button-arrow:after { transform: translateX(4px); }
/*------------------------------*\
	$SPACERS
\*------------------------------*/
#editor .mt-none { margin-top: 0 !important; }
#editor .mr-none { margin-right: 0; }
#editor .mb-none { margin-bottom: 0 !important; }
#editor .ml-none { margin-left: 0; }
/* QUAD */
#editor .mt-quad { margin-top: 112px; }
#editor .mb-quad { margin-bottom: 112px; }
/* TRIPLE */
#editor .mt-triple { margin-top: 84px; }
#editor .mb-triple { margin-bottom: 84px; }
/* DOUBLE */
#editor .mt-double { margin-top: 56px; }
#editor .mr-double { margin-right: 56px; }
#editor .mb-double { margin-bottom: 56px; }
/* MID */
#editor .mt-mid { margin-top: 42px; }
#editor .mb-mid { margin-bottom: 42px; }
/* SINGLE */
#editor .mt-single { margin-top: 28px; }
#editor .mr-single { margin-right: 28px; }
#editor .mb-single { margin-bottom: 28px; }
/* HALF */
#editor .mt-half { margin-top: 14px; }
#editor .mr-half { margin-right: 14px; }
#editor .mb-half, .byline { margin-bottom: 14px; }
/* SMALL */
#editor .mt-small { margin-top: 5px; }
#editor .mr-small { margin-right: 5px; }
#editor .mb-small { margin-bottom: 5px; }
#editor .ml-small { margin-left: 5px; }
@media all and (max-width: 900px) {
	/* TRIPLE */
	#editor .mt-quad { margin-top: 84px; }
	#editor .mb-quad { margin-bottom: 84px; }
	/* DOUBLE */
	#editor .mt-triple { margin-top: 56px; }
	#editor .mb-triple { margin-bottom: 56px; }
	#editor .alignright.wrap,
	#editor .alignleft.wrap,
	#editor .alignfull,
	#editor .aligncenter.wrap,
	#editor .alignleft.wrap,
	#editor .alignfull {
		margin-left: -14px;
		margin-right: -14px;
	}
}
@media all and (max-width: 800px) {
	/* DOUBLE */
	#editor .mt-quad { margin-top: 56px; }
	#editor .mb-quad { margin-bottom: 56px; }
	/* SINGLE */
	#editor .mt-triple { margin-top: 28px; }
	#editor .mb-triple, .mb-double { margin-bottom: 28px; }
}
/*------------------------------*\
	$ARROW_BLOCK
\*------------------------------*/
.wp-block .arrow-down .dashicons { line-height: 1; }
/*------------------------------*\
	$EMAIL_BLOCK
\*------------------------------*/
input.md-input, button.md-submit {
	font-size: 1em;
	line-height: 1;
}
.md-form-field {
	align-items: center;
	border: 1px solid #CCCCCC;
	border-radius: 0;
	box-shadow: none;
	display: flex;
}
.md-form-field-icon {
	color: #1E1E1E;
	font-size: 1.2em;
	line-height: 1;
	min-width: 36px;
	padding: 14px;
	text-align: center;
}
input.md-input {
	border: 0;
	box-shadow: none;
	margin: 0;
	padding: 14px 14px 14px 0;
}
.md-input[disabled] { background-color: #fff; }
.md-email-full .md-form-field, .md-email-full .md-submit { width: 100%; }
.md-email-full .md-form-field { margin-bottom: 14px; }
[class*="md-email-attached"] .md-form-field, [class*="md-email-attached"] .md-submit { float: left; }
[class*="md-email-attached"] .md-submit {
	border-radius: 0 3px 3px 0;
	padding: 17px 28;
	width: 22%;
}
.md-email-attached .md-form-field { width: 78%; }
.md-email-attached-2 .md-form-field { width: 39%; }
.md-email-attached-2 .md-input-name {
	border-right: 0;
	border-radius: 3px 0 0 3px;
}
div.editor-styles-wrapper .md-email-footer {
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.5em;
	text-align: center;
}
/*------------------------------*\
	$CONTENT_UPGRADE_BLOCK
\*------------------------------*/
.md-content-upgrade { border-radius: 5px; }
.md-content-upgrade-action .md-button { width: 100%; }
@media all and (min-width: 900px) {
	.box-lr {
		align-items: center;
		display: flex;
	}
	#editor .box-lr .md-content-upgrade-text {
		margin-bottom: 0;
		width: 65%;
	}
	.box-lr .md-content-upgrade-action {
		padding-left: 28px;
		width: 35%;
	}
}
/*------------------------------*\
	$SHARE_NOTICE_BLOCK
\*------------------------------*/
.share-notice {
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	position: relative;
}
.share-notice.alignfull {
	border-radius: 0;
	border-width: 3px 0;
}
.share-notice-outline {
	border-style: solid;
	border-width: 3px;
}
.share-notice-full, .share-notice-full .share-notice-button, .share-notice-full .share-notice-icon {
	border-color: #fff;
	color: #fff;
}
.share-notice-full .md-submit-full { background-color: #fff; }
.share-notice-button { font-weight: bold; }
.share-notice-icon {
	float: right;
	font-size: 42px;
	line-height: 1;
	position: relative;
		top: -3px;
}
.share-notice-twitter.share-notice-outline,
.share-notice-twitter.share-notice-outline .md-submit-outline {
	border-color: #1da1f2;
	color: #1da1f2;
}
.share-notice-twitter.share-notice-full,
.share-notice-twitter.share-notice-outline .md-submit-full { background-color: #1da1f2; }
.share-notice-twitter.share-notice-outline .share-notice-icon,
.share-notice-twitter.share-notice-full .md-submit-full { color: #1da1f2; }
.share-notice-facebook.share-notice-outline,
.share-notice-facebook.share-notice-outline .md-submit-outline {
	border-color: #3b5998;
	color: #3b5998;
}
.share-notice-facebook.share-notice-full,
.share-notice-facebook.share-notice-outline .md-submit-full { background-color: #3b5998; }
.share-notice-facebook.share-notice-outline .share-notice-icon,
.share-notice-facebook.share-notice-full .md-submit-full { color: #3b5998; }
.share-notice-pinterest.share-notice-outline,
.share-notice-pinterest.share-notice-outline .md-submit-outline {
	border-color: #bd081c;
	color: #bd081c;
}
.share-notice-pinterest.share-notice-full,
.share-notice-pinterest.share-notice-outline .md-submit-full { background-color: #bd081c; }
.share-notice-pinterest.share-notice-outline .share-notice-icon,
.share-notice-pinterest.share-notice-full .md-submit-full { color: #bd081c; }
.share-notice-linkedin.share-notice-outline,
.share-notice-linkedin.share-notice-outline .md-submit-outline {
	border-color: #0077b5;
	color: #0077b5;
}
.share-notice-linkedin.share-notice-full,
.share-notice-linkedin.share-notice-outline .md-submit-full { background-color: #0077b5; }
.share-notice-linkedin.share-notice-outline .share-notice-icon,
.share-notice-linkedin.share-notice-full .md-submit-full { color: #0077b5; }
/*------------------------------*\
	$CALLOUT
\*------------------------------*/
.md-callout {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	position: relative;
}
.md-callout.has-icon { padding-top: 0 }
.md-callout-title, .md-callout-action { text-align: center; }
.md-callout .md-callout-icon {
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	color: #fff;
	display: block;
	line-height: 1;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.md-callout .md-callout-icon.icon {
	background-color: #1e1e1e;
	font-size: 40px;
	height: 80px;
	line-height: 77px;
	margin-top: -25px;
	width: 80px;
}
.md-callout .md-callout-icon.image {
	height: 100px;
	margin-top: -35px;
	width: 100px;
}
.md-callout .md-callout-icon.image img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.md-callout-list + .md-callout-action { margin-top: 28px; }
.md-callout-action .md-button { width: 100%; }
/*------------------------------*\
	$ICONS & EFFECTS
\*------------------------------*/
/* COVERS */
.cover, .header.has-cover {
	background-position: center center;
		background-size: cover;
		position: relative;
}
.header.has-cover {
		padding-bottom: 0;
}
.header.has-cover,
.header.has-cover .site-title,
.header.has-cover .site-title:hover,
.header.has-cover .tagline,
.header.has-cover .menu > .menu-item > a,
.header.has-cover .trigger-icon,
.header.has-cover .trigger-text,
.cover,
.cover .headline,
.cover .headline a,
.cover .byline,
.cover a {
	color: #fff;
}
.header.has-cover .menu-header > .menu-item:not(:last-child),
.cover .author-link,
.header.has-cover .author-link { border-bottom-color: rgba(255, 255, 255, 0.3); }
.header.has-cover .menu > .menu-item:hover > .menu-toggle { background-color: rgba(255, 255, 255, 0.3); }
.header.has-cover.text-alt,
.header.has-cover.text-alt .site-title,
.header.has-cover.text-alt .site-title:hover,
.header.has-cover.text-alt .tagline,
.header.has-cover.text-alt .menu > .menu-item > a,
.header.has-cover.text-alt .trigger-icon,
.header.has-cover.text-alt .trigger-text,
.cover.text-alt,
.cover.text-alt .headline,
.cover.text-alt .headline a,
.cover.text-alt .byline,
.cover.text-alt a {
	color: #1E1E1E;
}
.header.has-cover.text-alt .menu-header > .menu-item:not(:last-child),
.cover.text-alt .author-link,
.header.has-cover.text-alt .author-link { border-bottom-color: rgba(0, 0, 0, 0.2); }
.header.has-cover.text-alt .menu > .menu-item:hover > .menu-toggle { background-color: rgba(0, 0, 0, 0.2); }
@media all and (max-width: 800px) {
	.header.has-cover .sub-menu .toggle-menu,
	.header.has-cover .menu .menu-toggle { background-color: rgba(255, 255, 255, 0.3); }
	.header.has-cover.text-alt .sub-menu .toggle-menu,
	.header.has-cover.text-alt .menu .menu-toggle { background-color: rgba(0, 0, 0, 0.2); }
	.header.has-cover .sub-menu > .menu-item > a { color: #fff; }
	.header.has-cover.text-alt .sub-menu > .menu-item > a { color: #1E1E1E; }
}
/* BOUNCE */
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
	40% { transform: translateY(-7px); }
	60% { transform: translateY(-4px); }
}
.bounce { animation: bounce 3s infinite; }
/* SPIN */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.spin, .md-icon-loading { animation: spin 2s linear infinite; }
.button-loading .md-icon-loading { display: none; }
.is-loading .md-icon-loading {
	display: inline-block;
	margin-left: 5px;
}
/* ICONS */
.md-icon-angle-down:before{content:'\e80e'}.md-icon-angle-left:before{content:'\e816'}.md-icon-angle-right:before{content:'\e80f'}.md-icon-angle-up:before{content:'\e817'}.md-icon-bell:before{content:'\f0f3'}.md-icon-bolt:before{content:'\e823'}.md-icon-book:before{content:'\e828'}.md-icon-cancel:before{content:'\e810'}.md-icon-cart:before{content:'\e825'}.md-icon-chat:before{content:'\e811'}.md-icon-clock:before{content:'\e812'}.md-icon-code:before{content:'\f121'}.md-icon-download:before{content:'\e822'}.md-icon-dribbble:before{content:'\e80c'}.md-icon-exclamation:before{content:'\f12a'}.md-icon-eye:before{content:'\e81e'}.md-icon-facebook:before,.md-icon-facebook-squared:before{content:'\f09a'}.md-icon-flickr:before{content:'\e80a'}.md-icon-github:before,.md-icon-github-squared:before{content:'\e802'}.md-icon-hand:before{content:'\f256'}.md-icon-heart:before{content:'\e821'}.md-icon-heart-empty:before{content:'\e801'}.md-icon-instagram:before{content:'\e805'}.md-icon-key:before{content:'\e82a'}.md-icon-like:before{content:'\e820'}.md-icon-url:before{content:'\e827'}.md-icon-linkedin:before,.md-icon-linkedin-squared:before{content:'\f0e1'}.md-icon-loading:before{content:'\e832'}.md-icon-mail-alt:before{content:'\e814'}.md-icon-medium:before{content:'\f23a'}.md-icon-menu:before{content:'\e815'}.md-icon-ok:before,.md-icon-ok-circled:before,.list-check li:before{content:'\e804'}.md-icon-pencil:before{content:'\e80d'}.md-icon-phone:before{content:'\e806'}.md-icon-pin:before{content:'\e803'}.md-icon-pinterest:before,.md-icon-pinterest-squared:before{content:'\f231'}.md-icon-plus:before{content:'\ea0a'}.md-icon-quote:before{content:'\f10e'}.md-icon-reply:before{content:'\f112'}.md-icon-rss:before{content:'\f09e'}.md-icon-search:before{content:'\e813'}.md-icon-share:before{content:'\e81c'}.md-icon-skype:before{content:'\f17e'}.md-icon-slack:before{content:'\e83c'}.md-icon-speakerdeck:before{content:'\e81f'}.md-icon-star:before{content:'\e81b'}.md-icon-tags:before{content:'\e829'}.md-icon-telegram:before{content:'\e839'}.md-icon-tiktok:before{content:'\e83a'}.md-icon-trophy:before{content:'\e824'}.md-icon-tumblr:before,.md-icon-tumblr-squared:before{content:'\e808'}.md-icon-twitter:before{content:'\e800'}.md-icon-user:before{content:'\e819'}.md-icon-user-add:before{content:'\e818'}.md-icon-vimeo:before,.md-icon-vimeo-squared:before{content:'\e809'}.md-icon-volume-up:before{content:'\e826'}.md-icon-whatsapp:before{content:'\f232'}.md-icon-wordpress:before{content:'\e80b'}.md-icon-youtube:before,.md-icon-youtube-play:before{content:'\e807'}