/*------------------------------*\
	$BLOCK_EDITOR
\*------------------------------*/
/*------------------------------*\
	$FORMAT
\*------------------------------*/
/* ATTRIBUTES */
a {
	color: #AE2525;
	text-decoration: underline;
}
a:hover { text-decoration: none; }
strong, b { font-weight: bold; }
img, a img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}
iframe, video, object { max-width: 100%; }
abbr { cursor: help; }
cite { color: #777777; }
sup { line-height: 1; }
hr {
	border: 0;
	border-block-start: 1px solid rgba(0, 0, 0, 0.1);
	border-block-end: 1px solid rgba(255, 255, 255, 0.3);
	height: 0;
}
code {
	border-radius: 6px;
	padding: 2px 5px;
}
pre {
	margin-block-end: 31px;
	overflow: auto;
	padding: 31px;
}
code, pre {
	background-color: rgba(0, 0, 0, 0.1);
	color: #3e3e3e;
	font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif;
	font-size: 0.9em;
}
/* FORMAT */
.editor-styles-wrapper { word-wrap: break-word; }
.editor-styles-wrapper :is(ul, ol, p, hr, table, blockquote, pre),
.editor-styles-wrapper :is(.wp-caption, .wp-block-image) { margin-block-end: 31px; }
/* HEADINGS */
.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6 { color: #1E1E1E; font-family: PT Serif; font-weight: 700; }
.huge-title, .huge-size { font-size: clamp(46px, 6.19vw, 72px); line-height: clamp(56px, 8.25vw, 96px); }
h1, .h1, .wp-block-post-title, .h1-size { font-size: clamp(37px, 4.12vw, 48px); line-height: clamp(48px, 5.33vw, 62px); }
h2, .h2, .h2-size { font-size: clamp(31px, 3.52vw, 41px); line-height: clamp(42px, 4.73vw, 55px); }
h3, .h3, .h3-size { font-size: clamp(26px, 2.92vw, 34px); line-height: clamp(36px, 4.12vw, 48px); }
h4, .h4, .widget-title, .widget .wp-block-heading, .h4-size { font-size: clamp(22px, 2.49vw, 29px); line-height: clamp(32px, 3.52vw, 41px); }
h5, .h5, .h5-size { font-size: 24px; line-height: 37px; }
h6, .h6, .h6-size { font-size: 22px; line-height: 33px; }
:is(.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6, .wp-block-heading) a {
	color: #1E1E1E;
	text-decoration: none;
}
:is(.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6, .wp-block-heading) a:hover { text-decoration: underline; }
.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 { margin-block-end: 16px; }
.editor-styles-wrapper :is(.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6, .wp-block-heading):is(.alignwide, .alignfull) { text-align: center; }
.the-content :is(.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6, .wp-block-heading):not(:first-child) { margin-block-start: 47px; }
/* LISTS */
.editor-styles-wrapper ul { list-style: square; }
.list-check,
.the-content :is(ul, ol) { margin-inline-start: 31px; }
.editor-styles-wrapper li, .list-check li:not(:last-child) {
	margin-block-end: 10px;
	position: relative;
}
.editor-styles-wrapper ul ul {
	margin-block-end: 16px;
	margin-inline-start: 16px;
}
.editor-styles-wrapper .list { margin-inline-start: 0; }
.list, .list-check,
.editor-styles-wrapper .list, .editor-styles-wrapper [class*="list-"] { list-style: none; }
.list-links li a,
.list li:not(:last-child),
.list > :is(ul, ol):not(:last-child) {
	border-block-end: 1px solid rgba(0, 0, 0, 0.15);
	padding-block-end: 16px;
}
.list-links li { margin-block-end: 0; }
.list-links li a { display: block; }
.list-links li:last-child a { border-block-end: 0; }
.list-check li:before {
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 50%;
	color: #22a340;
	margin-inline: -38px 10px;;
	padding: 5px;
}
.text-center ul, .text-center ol, .text-center [class^="list"] { text-align: left; }
/* BLOCK/PULL QUOTES */
blockquote {
	background-color: #fff;
	border: 1px solid #CCCCCC;
	border-inline-start-width: 7px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	color: #777777;
	display: block;
	font-style: italic;
	margin-inline: 0;
	padding: 31px;
	position: relative;
}
blockquote:before, blockquote:after {
	color: #ddd;
	font-family: Georgia, serif;
	font-size: 72px;
	font-weight: bold;
	position: absolute;
}
blockquote:before {
	content: open-quote;
	inset-inline-start: 5px;
}
blockquote:after {
	content: close-quote;
	inset-inline-end: 16px;
}
.wp-block-pullquote { text-align: center; }
blockquote.is-style-plain, .is-style-plain blockquote {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	font-style: normal;
	padding: 0;
}
blockquote.is-style-plain:before, blockquote.is-style-plain:after,
.is-style-plain blockquote:before, .is-style-plain blockquote:after { content: ''; }
.editor-styles-wrapper blockquote p { margin-block-end: 16px; }
.editor-styles-wrapper blockquote p + cite {
	display: block;
	margin-block-start: -16px;
}
@media (min-width: 900px) {
	:is(blockquote, .wp-block-pullquote):is(.alignleft, .alignright) { width: 186px; }
}
/* SLIM */
.slim {
	font-size: 17px;
	line-height: 27px;
}
.slim ul, .slim ol, .slim p, .slim hr,
.slim table, .slim blockquote, .slim pre, .slim .wp-caption,
.slim .wp-block-image, .slim .the-content .featured-media { margin-block-end: 16px; }
.slim :last-child { margin-block-end: 0; }
.slim .entry-title, .slim .title-wrap { row-gap: 5px; }
.slim .entry-title .wrap { column-gap: 16px; }
.slim .byline {
	font-size: 15px;
	line-height: 27px;
}
.editor-styles-wrapper *:last-child { margin-block-end: 0; }
/*------------------------------*\
	$HELPERS
\*------------------------------*/
/* TEXT */
.underline { text-decoration: underline; }
.no-underline { text-decoration: none; }
.normal { font-weight: normal; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.body-font { font-family: system-ui, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; }
.h-font { font-family: PT Serif; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center, .has-text-align-center { text-align: center; }
.lh1 { line-height: 1; }
.caps { text-transform: uppercase; }
a.no-underline, .no-underline a { text-decoration: none; }
.small, .text-sec {
	font-size: 0.9em;
	line-height: 1.5em;
}
.title .small {
	font-size: 0.6em;
	line-height: 1;
}
.text-sec { color: #777777; }
cite, .tiny {
	font-size: 15px;
	line-height: 27px;
}
.intro {
	font-size: 22px;
	line-height: 33px;
}
.highlight {
	background-color: #FFFBCC;
	padding-inline: 5px;
}
.note {
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
}
.alert {
	background-color: #fefbd1;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
}
.badge {
    background-color: #f58f2a;
    border-radius: 5px;
    color: #fff;
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	padding: 4px 7px;
    position: relative;
}
.avatar {
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* BORDERS */
.radius, .radius img { border-radius: 6px; }
.circle { border-radius: 50%; }
.border, [class*="border-"] {
	border-style: solid;
	border-width: 1px;
}
.border-tb { border-width: 1px 0; }
.border-bottom { border-width: 0 0 1px; }
/* SHADOWS */
.shadow, .wp-block-image.shadow img { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
.shadow-large { box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
.shadow-grow { transition: 0.3s; }
.shadow-grow:hover { box-shadow: 0 6px 18px rgba(0, 0, 0,.05); }
.wp-block-image.shadow { box-shadow: none; }
/* ICON SHAPES */
.circle-icon, .square-icon {
	align-items: center;
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	line-height: 1;
	position: relative;
}
.circle-icon, a.circle-icon {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	color: #1E1E1E;
	height: 31px;
	width: 31px;
}
.square-icon, a.square-icon {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	height: 47px;
	width: 47px;
}
.circle-icon.mid, .square-icon.mid {
	flex: 1 0 52px;
	height: 52px;
	font-size: 26px;
	width: 52px;
}
.circle-icon.large, .square-icon.large {
	flex: 1 0 62px;
	height: 62px;
	font-size: 41px;
	width: 62px;
}
/* LAYOUT */
.fl {
	align-items: center;
	display: flex;
	gap: 16px;
}
.auto { margin-inline: auto; }
.grow { flex: 1; }
.shrink { flex-shrink: 0; }
.reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.fl-center { justify-content: center; }
.is-vertically-aligned-center { align-self: center; }
.start { align-items: start; }
/* WIDTHS */
.content-width { max-width: 745px; }
.post-width { max-width: 651px; }
.sidebar-width { max-width: 372px; }
.width-full { width: 100%; }
/* COLUMNS */
[class*="columns-"] {
	display: grid;
	gap: 31px;
	width: 100%;
}
.entry, .col {
	min-width: 0;
	position: relative;
	width: 100%;
}
.col-full { grid-column: 1 / -1; }
.columns-6 { grid-template-columns: repeat(6, 1fr); }
@media all and (min-width: 600px) {
		.columns-3 { grid-template-columns: repeat(2, 1fr); }
		.columns-4 { grid-template-columns: repeat(2, 1fr); }
		.columns-5 { grid-template-columns: repeat(2, 1fr); }
	}
@media all and (min-width: 800px) {
		.columns-2 { grid-template-columns: repeat(2, 1fr); }
		.columns-3 { grid-template-columns: repeat(3, 1fr); }
		.columns-4 { grid-template-columns: repeat(4, 1fr); }
		.columns-5 { grid-template-columns: repeat(5, 1fr); }
		.columns-6 { grid-template-columns: repeat(6, 1fr); }
	}
/* WP COLUMNS (EXPERIMENTAL) */
.wp-block-columns { display: flex; }
.wp-block-column {
	flex-basis: 0;
	flex-grow: 1;
}
.mb-small, .editor-styles-wrapper .mb-small:not(:last-child) { margin-block-end: 5px; }
.mb-third, .editor-styles-wrapper .mb-third:not(:last-child) { margin-block-end: 10px; }
.mb-half, .editor-styles-wrapper .mb-half:not(:last-child) { margin-block-end: 16px; }
.mb-single, .editor-styles-wrapper .mb-single:not(:last-child) { margin-block-end: 31px; }
.mb-mid, .editor-styles-wrapper .mb-mid:not(:last-child) { margin-block-end: 47px; }
.mb-double, .editor-styles-wrapper .mb-double:not(:last-child) { margin-block-end: 62px; }
.mb-triple, .editor-styles-wrapper .mb-triple:not(:last-child) { margin-block-end: 93px; }
.mb-quad, .editor-styles-wrapper .mb-quad:not(:last-child) { margin-block-end: 124px; }
.break-double, .editor-styles-wrapper .break-double { margin-block-end: -62px; }
.break-mid, .editor-styles-wrapper .break-mid { margin-block-end: -47px; }
.break-single, .editor-styles-wrapper .break-single { margin-block-end: -31px; }
.break-half, .editor-styles-wrapper .break-half { margin-block-end: -16px; }
.mb-none, .editor-styles-wrapper .mb-none { margin-block-end: 0; }
.ml-half { margin-inline-start: 16px; }
.ml-third { margin-inline-start: 10px; }
.ml-small { margin-inline-start: 5px; }
.mr-half { margin-inline-end: 16px; }
.mr-third { margin-inline-end: 10px; }
.mr-small { margin-inline-end: 5px; }
.gap-small, .columns-small { gap: 5px; }
.gap-third, .columns-third { gap: 10px; }
.gap-half, .columns-half { gap: 16px; }
.gap-single, .columns-single { gap: 31px; }
.gap-mid, .columns-mid { gap: 47px; }
.gap-double, .columns-double { gap: 62px; }
.block-small { padding: 5px; }
.block-small-tb { padding-block: 5px; }
.block-small-lr { padding-inline: 5px; }
.block-small-top { padding-block-start: 5px; }
.block-small-bot { padding-block-end: 5px; }
.block-third { padding: 10px; }
.block-third-tb { padding-block: 10px; }
.block-third-lr { padding-inline: 10px; }
.block-third-top { padding-block-start: 10px; }
.block-third-bot { padding-block-end: 10px; }
.block-half { padding: 16px; }
.block-half-tb { padding-block: 16px; }
.block-half-lr { padding-inline: 16px; }
.block-half-top { padding-block-start: 16px; }
.block-half-bot { padding-block-end: 16px; }
.block-single { padding: 31px; }
.block-single-tb { padding-block: 31px; }
.block-single-lr { padding-inline: 31px; }
.block-single-top { padding-block-start: 31px; }
.block-single-bot { padding-block-end: 31px; }
.block-mid { padding: 47px; }
.block-mid-tb { padding-block: 47px; }
.block-mid-lr { padding-inline: 47px; }
.block-mid-top { padding-block-start: 47px; }
.block-mid-bot { padding-block-end: 47px; }
.block-triple { padding: 93px; }
.block-triple-tb { padding-block: 93px; }
.block-triple-lr { padding-inline: 93px; }
.block-triple-top { padding-block-start: 93px; }
.block-triple-bot { padding-block-end: 93px; }
.block-double { padding: 62px; }
.block-double-tb { padding-block: 62px; }
.block-double-lr { padding-inline: 62px; }
.block-double-top { padding-block-start: 62px; }
.block-double-bot { padding-block-end: 62px; }
.block-quad { padding: 124px; }
.block-quad-tb { padding-block: 124px; }
.block-quad-lr { padding-inline: 124px; }
.block-quad-top { padding-block-start: 124px; }
.block-quad-bot { padding-block-end: 124px; }
.pb-none { padding-block-end: 0; }
.has-background-background-color { background-color: #FFFFFF; }
.has-background-border-color { border-color: #FFFFFF; }
.has-background-color, a.has-background-color { color: #FFFFFF; }
.has-surface-background-color { background-color: #F0F0F0; }
.has-surface-border-color { border-color: #F0F0F0; }
.has-surface-color, a.has-surface-color { color: #F0F0F0; }
.has-primary-background-color { background-color: #AE2525; }
.has-primary-border-color { border-color: #AE2525; }
.has-primary-color, a.has-primary-color { color: #AE2525; }
.has-secondary-background-color { background-color: #2E2E2E; }
.has-secondary-border-color { border-color: #2E2E2E; }
.has-secondary-color, a.has-secondary-color { color: #2E2E2E; }
.has-tertiary-background-color { background-color: #DDDDDD; }
.has-tertiary-border-color { border-color: #DDDDDD; }
.has-tertiary-color, a.has-tertiary-color { color: #DDDDDD; }
.has-accent-background-color { background-color: #FFFBCC; }
.has-accent-border-color { border-color: #FFFBCC; }
.has-accent-color, a.has-accent-color { color: #FFFBCC; }
.has-border-background-color { background-color: #CCCCCC; }
.has-border-border-color { border-color: #CCCCCC; }
.has-border-color, a.has-border-color { color: #CCCCCC; }
.has-text-main-background-color { background-color: #1E1E1E; }
.has-text-main-border-color { border-color: #1E1E1E; }
.has-text-main-color, a.has-text-main-color { color: #1E1E1E; }
.has-text-secondary-background-color { background-color: #777777; }
.has-text-secondary-border-color { border-color: #777777; }
.has-text-secondary-color, a.has-text-secondary-color { color: #777777; }
.has-button-background-color { background-color: #22A340; }
.has-button-border-color { border-color: #22A340; }
.has-button-color, a.has-button-color { color: #22A340; }
.has-my-own-custom-color-background-color { background-color: #2DFF3C; }
.has-my-own-custom-color-border-color { border-color: #2DFF3C; }
.has-my-own-custom-color-color, a.has-my-own-custom-color-color { color: #2DFF3C; }
.has-vins-color-background-color { background-color: #CE96FF; }
.has-vins-color-border-color { border-color: #CE96FF; }
.has-vins-color-color, a.has-vins-color-color { color: #CE96FF; }
/* TYPOGRAPHY */
body.expanded .edit-post-visual-editor__post-title-wrapper { max-width: 100%; }
.editor-styles-wrapper {
	background-color: #F0F0F0;
	color: #1E1E1E;
	font-family: system-ui, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 19px;
	line-height: 31px;
}
.edit-post-visual-editor__post-title-wrapper { margin-block-end: 47px; }
/* SPACING */
.editor-styles-wrapper .wp-block-post-content :is(ul, ol, .list-check) { margin-inline-start: 124px; }
.editor-styles-wrapper .wp-block-post-content > .wp-block { margin-block-start: 0; }
.editor-styles-wrapper .wp-block-post-content > .wp-block:not([class*="mb-"]) { margin-block-end: 31px; }
.editor-styles-wrapper .wp-block-post-content .wp-block-heading:not([class*="mb-"]):not(:last-child) { margin-block-end: 16px; }
.editor-styles-wrapper .wp-block-post-content .wp-block-heading:not(:first-child) { margin-block-start: 47px; }
.editor-styles-wrapper .is-layout-flow > .alignleft { margin-inline-end: 31px; }
.editor-styles-wrapper .is-layout-flow > .alignright { margin-inline: 31px 0; }
@media (min-width: 900px) {
	.expanded.editor-styles-wrapper .wp-block-group .alignwide { margin-inline: -16.644295302013%; }
	.expanded.editor-styles-wrapper .wp-block-group .alignright {
		margin-inline-end: -50vw;
		right: 50%;
	}
	.expanded.editor-styles-wrapper .wp-block-group .alignleft {
		left: 50%;
		margin-inline-start: -50vw;
	}
}
/* BLOCK/PULL QUOTES */
.editor-styles-wrapper .wp-block-pullquote {
	font-size: inherit;
	padding: 0;
}
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper .wp-block-pullquote p { margin-block: 0 16px; }
.editor-styles-wrapper .wp-block-quote p:last-child,
.editor-styles-wrapper .wp-block-pullquote p:last-child { margin-block-end: 0; }
/* MD BLOCKS */
.editor-styles-wrapper .banner-wrap p { margin-block: 0; }
.editor-styles-wrapper .feature-title { margin-block: 0 5px; }
.editor-styles-wrapper .feature-description { margin-block-start: 0; }
/* WIDTHS */
body.md-builder .is-root-container > * { max-width: 100%; }
:is(body.md-builder, body.expanded) .wp-block-post-title {
	max-width: 1164px;
	text-align: center;
}
.editor-styles-wrapper .is-root-container .inner {
	max-width: 1164px;
	width: auto;
}
.editor-styles-wrapper .is-root-container .content-width { max-width: 745px; }
.editor-styles-wrapper .is-root-container .post-width { max-width: 651px; }
.editor-styles-wrapper .is-root-container .sidebar-width { max-width: 372px; }