/*------------------------------*\
	$BLOCK_EDITOR
\*------------------------------*/
/*------------------------------*\
	$FORMAT
\*------------------------------*/
/* ATTRIBUTES */
a {
	color: #C0392B;
	text-decoration: underline;
}
a:hover { text-decoration: none; }
strong, b { font-weight: 500; }
img, a img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}
iframe, video, object { max-width: 100%; }
abbr { cursor: help; }
cite { color: #777777; }
sup { line-height: 1; }
hr {
	border: 0;
	border-block-start: 1px solid rgba(0, 0, 0, 0.1);
	border-block-end: 1px solid rgba(255, 255, 255, 0.3);
	height: 0;
}
code {
	border-radius: 6px;
	padding: 2px 5px;
}
pre {
	margin-block-end: 32px;
	overflow: auto;
	padding: 32px;
}
code, pre {
	background-color: rgba(0, 0, 0, 0.1);
	color: #3e3e3e;
	font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif;
	font-size: 0.9em;
}
/* FORMAT */
.editor-styles-wrapper { word-wrap: break-word; }
.editor-styles-wrapper :is(ul, ol, p, hr, table, blockquote, pre),
.editor-styles-wrapper :is(.wp-caption, .wp-block-image) { margin-block-end: 32px; }
/* HEADINGS */
.huge-title {color: #1E1E1E;
font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif;
font-size: 68px;
font-weight: 500;
line-height: 90px;
}
h1, .h1, .large-title, .wp-block-post-title {color: #1E1E1E;
font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif;
font-size: 45px;
font-weight: 500;
line-height: 59px;
}
h2, .h2, .main-title {color: #1E1E1E;
font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif;
font-size: 38px;
font-weight: 500;
line-height: 51px;
}
h3, .h3, .med-title {color: #1E1E1E;
font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif;
font-size: 32px;
font-weight: 500;
line-height: 45px;
}
h4, .h4, .mid-title, .widget-title, .widget .wp-block-heading {color: #1E1E1E;
font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif;
font-size: 27px;
font-weight: 500;
line-height: 38px;
}
h5, .h5, .small-title {color: #1E1E1E;
font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif;
font-size: 23px;
font-weight: 500;
line-height: 36px;
}
h6, .h6, .micro-title {color: #1E1E1E;
font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
}
:is(.huge-title, h1, .h1, .large-title, .wp-block-post-title, h2, .h2, .main-title, h3, .h3, .med-title, h4, .h4, .mid-title, .widget-title, .widget .wp-block-heading, h5, .h5, .small-title, h6, .h6, .micro-title, .wp-block-heading) a {
	color: #1E1E1E;
	text-decoration: none;
}
.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 { margin-block-end: 16px; }
.editor-styles-wrapper :is(.huge-title, h1, .h1, .large-title, .wp-block-post-title, h2, .h2, .main-title, h3, .h3, .med-title, h4, .h4, .mid-title, .widget-title, .widget .wp-block-heading, h5, .h5, .small-title, h6, .h6, .micro-title, .wp-block-heading):is(.alignwide, .alignfull) { text-align: center; }
.the-content :is(.huge-title, h1, .h1, .large-title, .wp-block-post-title, h2, .h2, .main-title, h3, .h3, .med-title, h4, .h4, .mid-title, .widget-title, .widget .wp-block-heading, h5, .h5, .small-title, h6, .h6, .micro-title, .wp-block-heading):not(:first-child) { margin-block-start: 48px; }
@media (max-width: 900px) {
}
@media (max-width: 600px) {
	.huge-title { font-size: 49px; line-height: 59px; }
	h1, .h1, .large-title, .wp-block-post-title { font-size: 39px; line-height: 51px; }
	h2, .h2, .main-title { font-size: 33px; line-height: 45px; }
	h3, .h3, .med-title { font-size: 27px; line-height: 38px; }
	h4, .h4, .mid-title, .widget-title, .widget .wp-block-heading { font-size: 23px; line-height: 33px; }
}
/* LISTS */
.editor-styles-wrapper ul { list-style: square; }
.the-content :is(ul, ol, .list-check) { margin-inline-start: 32px; }
.editor-styles-wrapper li {
	margin-block-end: 16px;
	position: relative;
}
.editor-styles-wrapper ul ul {
	margin-block-end: 16px;
	margin-inline-start: 16px;
}
.editor-styles-wrapper .list { margin-inline-start: 0; }
.editor-styles-wrapper [class^="list"], .editor-styles-wrapper [class^="list"] ul { list-style: none; }
[class^="list"] > ul:not(:last-child),
[class^="list"] li:not(:last-child) {
	border-block-end: 1px solid rgba(0, 0, 0, 0.15);
	padding-block-end: 16px;
}
.list-check { margin-inline-start: 32px; }
.list-check li:before {
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 50%;
	color: #22a340;
	margin-inline: -39px 11px;;
	padding: 5px;
}
.text-center ul, .text-center ol, .text-center [class^="list"] { text-align: left; }
/* BLOCK/PULL QUOTES */
blockquote {
	background-color: #fff;
	border: 1px solid #E6E0CF;
	border-inline-start-width: 7px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	color: #777777;
	display: block;
	font-style: italic;
	margin-inline: 0;
	padding: 32px;
	position: relative;
}
blockquote:before, blockquote:after {
	color: #ddd;
	font-family: Georgia, serif;
	font-size: 68px;
	font-weight: 500;
	position: absolute;
}
blockquote:before {
	content: open-quote;
	inset-inline-start: 5px;
}
blockquote:after {
	content: close-quote;
	inset-inline-end: 16px;
}
:is(blockquote, .wp-block-pullquote):is(.alignleft, .alignright) { width: 192px; }
.wp-block-pullquote { text-align: center; }
blockquote.is-style-plain, .is-style-plain blockquote {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	font-style: normal;
	padding: 0;
}
blockquote.is-style-plain:before, blockquote.is-style-plain:after,
.is-style-plain blockquote:before, .is-style-plain blockquote:after { content: ''; }
.editor-styles-wrapper blockquote p { margin-block-end: 16px; }
.editor-styles-wrapper blockquote p + cite {
	display: block;
	margin-block-start: -16px;
}
/* SLIM */
.slim {
	font-size: 18px;
	line-height: 28px;
}
.slim ul, .slim ol, .slim p, .slim hr,
.slim table, .slim blockquote, .slim pre, .slim .wp-caption,
.slim .wp-block-image, .slim .the-content .featured-media { margin-block-end: 16px; }
.slim ul, .slim ol { margin-inline-start: 16px; }
@media (min-width: 672px) {
	.slim .title {
		font-size: 27px;
		line-height: 38px;
	}
}
.editor-styles-wrapper *:last-child { margin-block-end: 0; }
/*------------------------------*\
	$BUTTONS
\*------------------------------*/
button, input[type="submit"] .link, .button {
	align-items: center;
	display: inline-flex;
	gap: 11px 16px;
	line-height: 1;
}
/* LINKS */
.link:hover { text-decoration: none; }
.link-wrap {
	display: inline-flex;
	flex-direction: column;
	gap: 11px;
	text-align: initial;
}
.link-icon, .trigger-icon, .input-icon {
	font-size: 25px;
	font-style: normal;
}
.link-subtitle {
	font-size: 16px;
	font-weight: normal;
}
/* BUTTONS */
button, input[type="submit"], .button {
	appearance: none;
    background-color: #22A340;
	border: 0;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	font-style: normal;
	justify-content: center;
	padding: 16px 27px;
	text-decoration: none;
	transition: 0.3s;
}
a.button { text-decoration: none; }
button:hover, input[type="submit"]:hover, .button:hover { transform: translateY(1px); }
/* COLORS */
.button.white {
	background-color: #fff;
	color: inherit;
}
.button.button-sec {
	background-color: #999999;
	color: #FFFFFF;
}
.button.button-outline {
	background-color: transparent;
	border: 3px solid #22A340;
	color: #22A340;
}
.button.button-outline.white {
	border-color: #fff;
	color: #fff;
}
.button.button-outline.has-links-color{
	border-color: #C0392B;
	color: #C0392B;
}
/* SIZES */
.button.button-small {
	font-size: 18px;
	padding: 11px 16px;
}
.button-small .link-icon { font-size: 22px; }
.button.button-large {
	font-size: 1.4em;
	padding: 21px 32px;
}
/* STYLES */
.button.button-cancel { background-color: #ae2525; }
.button.button-disabled {
	background-color: #999;
	cursor: not-allowed;
}
.button.pill { border-radius: 50px; }
.button.width-full { justify-content: center; }
.button-arrow { flex-direction: row; }
.button.button-arrow:after {
	content: '\e80f';
	font-family: 'md-icon';
	transition: 0.3s;
}
.button.button-arrow:hover:after { transform: translateX(4px); }
.button-arrow.down:after { content: '\e80e'; }
.button-arrow.down:hover:after { transform: none; }
.button-arrow.width-full:after { margin-left: auto; }
/*------------------------------*\
	$HELPERS
\*------------------------------*/
/* TEXT */
.underline { text-decoration: underline; }
.no-underline { text-decoration: none; }
.normal { font-weight: 400; }
.bold { font-weight: 500; }
.italic { font-style: italic; }
.h-font { font-family: Albra, Droid Serif, Source Serif Pro, Times New Roman, serif; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center, .has-text-align-center { text-align: center; }
.caps { text-transform: uppercase; }
a.no-underline, .no-underline a { text-decoration: none; }
.small, .text-sec {
	font-size: 0.9em;
	line-height: 1.5em;
}
.text-sec { color: #777777; }
cite, .tiny {
	font-size: 16px;
	line-height: 28px;
}
.intro {
	font-size: 20px;
	line-height: 30px;
}
.highlight {
	background-color: #EDF6FD;
	padding-inline: 5px;
}
.note {
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
}
.alert {
	background-color: #fefbd1;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
}
.badge {
    background-color: #f58f2a;
    border-radius: 5px;
    color: #fff;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	padding: 4px 7px;
    position: relative;
}
.avatar {
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* BORDERS */
.radius, .radius img { border-radius: 6px; }
.circle { border-radius: 50%; }
.border, [class*="border-"] {
	border-style: solid;
	border-width: 1px;
}
.border-tb { border-width: 1px 0; }
.border-bottom { border-width: 0 0 1px; }
/* SHADOWS */
.shadow, .wp-block-image.shadow img { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
.shadow-large { box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
.shadow-grow { transition: 0.3s; }
.shadow-grow:hover { box-shadow: 0 6px 18px rgba(0, 0, 0,.05); }
.wp-block-image.shadow { box-shadow: none; }
/* ICON SHAPES */
.circle-icon, .square-icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	position: relative;
}
.circle-icon, a.circle-icon {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	color: #5A5A5A;
	height: 37px;
	width: 37px;
}
.square-icon, a.square-icon {
	border-radius: 10px;
	height: 48px;
	width: 48px;
}
.circle-icon.mid, .square-icon.mid {
	flex: 1 0 53px;
	height: 53px;
	font-size: 27px;
	width: 53px;
}
/* LAYOUT */
.fl {
	align-items: center;
	display: flex;
	gap: 16px;
}
.grow { flex: 1; }
.shrink { flex-shrink: 0; }
.reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.fl-center { justify-content: center; }
.is-vertically-aligned-center { align-self: center; }
.start { align-items: start; }
.width-full { width: 100%; }
/* COLUMNS */
[class*="columns-"] {
	display: grid;
	gap: 32px;
	width: 100%;
}
[class*="columns-"].slim { gap: 16px; }
.entry, .col {
	position: relative;
	width: 100%;
}
.columns-6 { grid-template-columns: repeat(6, 1fr); }
@media all and (min-width: 600px) {
		.columns-3 { grid-template-columns: repeat(2, 1fr); }
		.columns-4 { grid-template-columns: repeat(2, 1fr); }
		.columns-5 { grid-template-columns: repeat(2, 1fr); }
	}
@media all and (min-width: 800px) {
		.columns-2 { grid-template-columns: repeat(2, 1fr); }
		.columns-3 { grid-template-columns: repeat(3, 1fr); }
		.columns-4 { grid-template-columns: repeat(4, 1fr); }
		.columns-5 { grid-template-columns: repeat(5, 1fr); }
		.columns-6 { grid-template-columns: repeat(6, 1fr); }
	}
/* WP COLUMNS (EXPERIMENTAL) */
.wp-block-columns { display: flex; }
.wp-block-column {
	flex-basis: 0;
	flex-grow: 1;
}
/* SPACERS */
.mb-quad, .editor-styles-wrapper .mb-quad:not(:last-child) { margin-block-end: 128px; }
.mb-triple, .editor-styles-wrapper .mb-triple:not(:last-child) { margin-block-end: 96px; }
.mb-double, .editor-styles-wrapper .mb-double:not(:last-child) { margin-block-end: 64px; }
.mb-mid, .editor-styles-wrapper .mb-mid:not(:last-child) { margin-block-end: 48px; }
.mb-single, .editor-styles-wrapper .mb-single:not(:last-child) { margin-block-end: 32px; }
.mb-half, .editor-styles-wrapper .mb-half:not(:last-child) { margin-block-end: 16px; }
.mb-third, .editor-styles-wrapper .mb-third:not(:last-child) { margin-block-end: 11px; }
.mb-small, .editor-styles-wrapper .mb-small:not(:last-child) { margin-block-end: 5px; }
.mb-none, .editor-styles-wrapper .mb-none { margin-block-end: 0; }
.ml-half { margin-inline-start: 16px; }
.ml-third { margin-inline-start: 11px; }
.ml-small { margin-inline-start: 5px; }
.mr-third { margin-inline-end: 11px; }
.mr-half { margin-inline-end: 16px; }
.mr-small { margin-inline-end: 5px; }
.gap-half, .columns-half { gap: 16px; }
.gap-single, .columns-single { gap: 32px; }
.gap-mid, .columns-mid { gap: 48px; }
.gap-double, .columns-double { gap: 64px; }
.block-half { padding: 16px; }
.block-half-tb { padding-block: 16px; }
.block-half-lr { padding-inline: 16px; }
.block-half-top { padding-block-start: 16px; }
.block-half-bot { padding-block-end: 16px; }
.block-single { padding: 32px; }
.block-single-tb { padding-block: 32px; }
.block-single-lr { padding-inline: 32px; }
.block-single-top { padding-block-start: 32px; }
.block-single-bot { padding-block-end: 32px; }
.block-mid { padding: 48px; }
.block-mid-tb { padding-block: 48px; }
.block-mid-lr { padding-inline: 48px; }
.block-mid-top { padding-block-start: 48px; }
.block-mid-bot { padding-block-end: 48px; }
.block-triple { padding: 96px; }
.block-triple-tb { padding-block: 96px; }
.block-triple-lr { padding-inline: 96px; }
.block-triple-top { padding-block-start: 96px; }
.block-triple-bot { padding-block-end: 96px; }
.block-double { padding: 64px; }
.block-double-tb { padding-block: 64px; }
.block-double-lr { padding-inline: 64px; }
.block-double-top { padding-block-start: 64px; }
.block-double-bot { padding-block-end: 64px; }
.block-quad { padding: 128px; }
.block-quad-tb { padding-block: 128px; }
.block-quad-lr { padding-inline: 128px; }
.block-quad-top { padding-block-start: 128px; }
.block-quad-bot { padding-block-end: 128px; }
.pb-none { padding-block-end: 0; }
.has-primary-background-color { background-color: #C0392B; }
.has-primary-border-color { border-color: #C0392B; }
.has-primary-color, a.has-primary-color { color: #C0392B; }
.has-secondary-background-color { background-color: #101010; }
.has-secondary-border-color { border-color: #101010; }
.has-secondary-color, a.has-secondary-color { color: #101010; }
.has-tertiary-background-color { background-color: #E6E0CF; }
.has-tertiary-border-color { border-color: #E6E0CF; }
.has-tertiary-color, a.has-tertiary-color { color: #E6E0CF; }
.has-action-background-color { background-color: #EDF6FD; }
.has-action-border-color { border-color: #EDF6FD; }
.has-action-color, a.has-action-color { color: #EDF6FD; }
.has-accent-background-color { background-color: #FAF6EC; }
.has-accent-border-color { border-color: #FAF6EC; }
.has-accent-color, a.has-accent-color { color: #FAF6EC; }
.has-white-background-color { background-color: #FFFFFF; }
.has-white-border-color { border-color: #FFFFFF; }
.has-white-color, a.has-white-color { color: #FFFFFF; }
.has-text-background-color { background-color: #5A5A5A; }
.has-text-border-color { border-color: #5A5A5A; }
.has-text-color, a.has-text-color { color: #5A5A5A; }
.has-text-sec-background-color { background-color: #777777; }
.has-text-sec-border-color { border-color: #777777; }
.has-text-sec-color, a.has-text-sec-color { color: #777777; }
.has-links-background-color { background-color: #C0392B; }
.has-links-border-color { border-color: #C0392B; }
.has-links-color, a.has-links-color { color: #C0392B; }
.has-button-background-color { background-color: #22A340; }
.has-button-border-color { border-color: #22A340; }
.has-button-color, a.has-button-color { color: #22A340; }
.has-button-sec-background-color { background-color: #999999; }
.has-button-sec-border-color { border-color: #999999; }
.has-button-sec-color, a.has-button-sec-color { color: #999999; }
/*------------------------------*\
	$LAYOUT
\*------------------------------*/
.clear:after,
.entry.image-left .the-content:after,
.entry.image-right .the-content:after {
	clear: both;
	content: '';
	display: table;
}
.inner {
	margin-inline: auto;
	max-width: 1200px;
	position: relative;
	width: 100%;
}
.main {
		background-color: #FDFAF1;
		padding-block: 32px;
}
.header-cover .main { padding-block-start: 0; }
.loop:not(:last-child) { margin-block-end: 32px; }
/* BOX STYLE */
.main:has(.box-style.loop) { background-color: #FDFAF1; }
.box, .box-style .entry,
.content :is(.page-title.cover, .page-title.cover .overlay),
.entry :is(.cover, .cover .overlay),
.featured-media, .featured-media img,
.box-style .entry .item:nth-child(1 of .item):nth-last-child(1 of .item) { border-radius: 8px; }
.box-style .entry .item:nth-child(1 of .item),
.box-style .entry :is(.cover, .overlay),
.box-style .image-above :is(.featured-media, .featured-media img),
.header-cover .box-style .image-full :is(.featured-media, .featured-media img) { border-radius: 8px 8px 0 0; }
.box-style .entry .item:nth-last-child(1 of .item),
.box-style .image-above :is(.cover, .overlay, .featured-media + .item) { border-radius: 0 0 8px 8px; }
.box-style .image-below .featured-media img,
.box-style .entry.image-below .featured-media + .the-content { border-radius: 0; }
.box, .box-style .entry,
.cover, .featured-media img { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
.box, .box-style .item,
.box-style .image-full .featured-media,
.box-style.columns .entry,
.box-style .comment-details { background-color: #FFFFFF; }
.box-style.columns .entry .item {
	background-color: transparent;
	box-shadow: none;
}
.box-style .byline.post-footer { border-block-start: 1px solid #E6E0CF; }
.box-style .post-footer:not(:last-child) { border-block-end: 1px solid #E6E0CF; }
.box, .box-style .entry { width: auto; }
.box-style.row.full > .item:not(:last-child),
.box-style.row.full .entry:not(:last-child) { margin-block-end: 32px; }
.box-style .item { padding: 32px 16px; }
.box-style .entry .byline.post-footer { padding: 16px; }
.box-style .entry-title:not(.cover):not(:empty) + .the-content { padding-block-start: 0; }
/* PLAIN + BORDER STYLES */
.expanded :is(.plain-style, .border-style).loop-article.row > .entry:not(:last-child) { margin-block-end: 96px; }
.compact :is(.plain-style, .border-style).loop-article.row > .entry,
:is(.plain-style, .border-style).loop-article.row > .entry > .item:not(:last-child) { margin-block-end: 48px; }
:is(.plain-style, .border-style).columns .entry > *:not(:last-child) { margin-block-end: 16px; }
:is(.plain-style, .border-style).loop-article.image-above.has-cover > .featured-media,
:is(.plain-style, .border-style).loop-article.image-below.has-cover > .post-title { margin-block-end: 0; }
.is-border-style .header:not(.cover) { border-block-end: 1px solid #E6E0CF; }
.is-border-style .footer { border-block-start: 1px solid #CCCCCC; }
.is-border-style .page-title:not(.cover) {
	border-block-end: 1px solid #E6E0CF;
	padding-block-end: 48px;
}
.border-style.row .entry:not(:first-child) {
	border-block-start: 1px solid #E6E0CF;
	padding-block-start: 48px;
}
.border-style.row :is(.entry.has-cover, .entry.image-above) {
	border-block-start: 0;
	padding-block-start: 0;
}
/* QUERIES */
@media (min-width: 672px) {
	.cover,
	.box-style.full .item { padding: 48px; }
	.compact .box-style.full .post-title { padding-block-end: 32px; }
	.slim .cover { padding-inline: 16px; }
	.expanded .item:not(.post-title) .wrap {
		margin-inline: auto;
		max-width: 672px;
		width: 100%;
	}
}
@media (min-width: 900px) {
	.content-width { max-width: 768px; }
	.post-width { max-width: 672px; }
	.sidebar-width { max-width: 384px; }
	.compact .content-wrap {
		display: grid;
		gap: 48px;
		grid-template-columns: 64% 32%;
	}
	.compact .content-wrap:not(:last-child) { margin-block-end: 0; }
	.compact.left .content-wrap { direction: rtl; }
	.compact.left .content-wrap, .compact.left .sidebar { direction: ltr; }
}
@media (max-width: 1200px) {
	.inner { padding-inline: 16px; }
	.cover .inner {
		padding-inline: 0;
		width: 100%;
	}
	.box-style.loop-article.full .entry { margin-inline: -16px; }
}
/* TYPOGRAPHY */
.editor-styles-wrapper {
	background-color: #FFFFFF;
	color: #5A5A5A;
	font-family: 'Geomanist', system-ui, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 20px;
	line-height: 32px;
}
.edit-post-visual-editor__post-title-wrapper { margin-block-end: 48px; }
/* SPACING */
.editor-styles-wrapper .wp-block-post-content :is(ul, ol, .list-check) { margin-inline-start: 128px; }
.editor-styles-wrapper .wp-block-post-content > .wp-block { margin-block-start: 0; }
.editor-styles-wrapper .wp-block-post-content > .wp-block:not([class*="mb-"]) { margin-block-end: 32px; }
.editor-styles-wrapper .wp-block-post-content .wp-block-heading:not([class*="mb-"]):not(:last-child) { margin-block-end: 16px; }
.editor-styles-wrapper .wp-block-post-content .wp-block-heading:not(:first-child) { margin-block-start: 48px; }
.editor-styles-wrapper .is-layout-flow > .alignleft { margin-inline-end: 32px; }
.editor-styles-wrapper .is-layout-flow > .alignright { margin-inline: 32px 0; }
/* BLOCK/PULL QUOTES */
.editor-styles-wrapper .wp-block-pullquote {
	font-size: inherit;
	padding: 0;
}
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper .wp-block-pullquote p { margin-block: 0 16px; }
.editor-styles-wrapper .wp-block-quote p:last-child,
.editor-styles-wrapper .wp-block-pullquote p:last-child { margin-block-end: 0; }
/* MD BLOCKS */
.editor-styles-wrapper .banner-wrap p { margin-block: 0; }
.editor-styles-wrapper .feature-title { margin-block-start: 0; }