/*------------------------------*\
	$CLASSIC_EDITOR
\*------------------------------*/
:root {
	--md-small: clamp(4px, 0.42vw, 5px);
	--md-third: clamp(7px, 0.92vw, 11px);
	--md-half: clamp(11px, 1.33vw, 16px);
	--md-single: clamp(21px, 2.67vw, 32px);
	--md-mid: clamp(32px, 4vw, 48px);
	--md-double: clamp(42px, 5.33vw, 64px);
	--md-triple: clamp(63px, 8vw, 96px);
	--md-quad: clamp(84px, 10.67vw, 128px);
	--md-single-x: clamp(11px, -10px + 3.5vw, 32px);
	--md-mid-x: clamp(11px, -26px + 6.17vw, 48px);
	--md-double-x: clamp(11px, -42px + 8.83vw, 64px);
	--md-triple-x: clamp(11px, -74px + 14.17vw, 96px);
	--md-quad-x: clamp(11px, -106px + 19.5vw, 128px);
	--md-width-site: 1200px;
	--md-width-content: 768px;
	--md-width-post: 672px;
	--md-width-sidebar: 384px;
	--md-width-panel: 320px;
	--md-width-site-wide: 1536px;
	--md-border-radius: 8px;
	--md-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	--md-box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.15);
	--md-box-shadow-medium: 0 4px 16px rgba(0, 0, 0, 0.12);
	--md-box-shadow-large: 0 8px 32px rgba(0, 0, 0, 0.15);
	--md-box-shadow-huge: 0 16px 48px rgba(0, 0, 0, 0.20);
	--md-transition: 0.3s;
	--md-transition-slow: 0.5s;
	--md-font-size: clamp(18px, 1.67vw, 20px);
	--md-font-size-sm: 18px;
	--md-line-height: clamp(29px, 2.67vw, 32px);
	--md-line-height-sm: 29px;
	--md-bold: bold;
	--md-huge: 72px;
	--md-huge-line-height: 96px;
	--md-h1: 48px;
	--md-h1-line-height: 62px;
	--md-h2: 41px;
	--md-h2-line-height: 55px;
	--md-h3: 34px;
	--md-h3-line-height: 48px;
	--md-h4: 29px;
	--md-h4-line-height: 41px;
	--md-h5: 24px;
	--md-h5-line-height: 37px;
	--md-h6: 22px;
	--md-h6-line-height: 33px;
	--md-color-background: #FFFFFF;
	--md-color-surface: #F0F0F0;
	--md-color-primary: #AE2525;
	--md-color-secondary: #2E2E2E;
	--md-color-tertiary: #DDDDDD;
	--md-color-border: #CCCCCC;
	--md-color-highlight: #FFFBCC;
	--md-color-text: #1E1E1E;
	--md-color-text-secondary: #777777;
	--md-color-warning: #f58f2a;
	--md-color-danger: #ae2525;
	--md-color-white: #FFFFFF;
	--md-links: #AE2525;
	--md-button: #22A340;
	--md-button-text: #FFFFFF;
	--md-button-secondary: #2E2E2E;
	--md-button-secondary-text: #FFFFFF;
	--md-headline: #1E1E1E;
	--md-headline-links: #1E1E1E;
	--md-header: #FFFFFF;
	--md-header-border: #CCCCCC;
	--md-header-color: #1E1E1E;
	--md-menu-links: #1E1E1E;
	--md-menu-active: #AE2525;
	--md-menu-hover: #AE2525;
	--md-submenu-links: #777777;
	--md-submenu: #FFFFFF;
	--md-submenu-hover: #AE2525;
	--md-content-body: #F0F0F0;
	--md-content: #FFFFFF;
	--md-content-border: #CCCCCC;
	--md-page-cover: #00000080;
	--md-sidebar: transparent;
	--md-sidebar-text: #777777;
	--md-sidebar-links: #777777;
	--md-sidebar-title: #1E1E1E;
	--md-sidebar-title-links: #1E1E1E;
	--md-footer: #FFFFFF;
	--md-footer-border: #CCCCCC;
	--md-footer-text: #1E1E1E;
	--md-footer-links: #777777;
	--md-footer-title: #1E1E1E;
	--md-footer-title-links: #1E1E1E;
}
/*------------------------------*\
	$FORMAT
\*------------------------------*/
/* ATTRIBUTES */
a {
	color: var(--md-links);
	text-decoration: underline;
}
a:hover { text-decoration: none; }
strong, b { font-weight: var(--md-bold); }
img, a img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}
iframe, video, object { max-width: 100%; }
abbr { cursor: help; }
cite { color: var(--md-color-text-secondary); }
sup { line-height: 1; }
hr {
	border: 0;
	border-block-end: 1px solid rgba(255, 255, 255, 0.3);
	border-block-start: 1px solid rgba(0, 0, 0, 0.1);
	height: 0;
}
code {
	border-radius: var(--md-border-radius);
	padding: 2px 5px;
}
pre {
	margin-block-end: var(--md-single);
	overflow: auto;
	padding: var(--md-single);
}
code, pre {
	background-color: rgba(0, 0, 0, 0.1);
	color: #3e3e3e;
	font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif;
	font-size: 0.9em;
}
/* FORMAT */
.mce-content-body { word-wrap: break-word; }
.mce-content-body :is(ul, ol, p, hr, table, blockquote, pre),
.mce-content-body :is(.wp-caption, .wp-block-image) { margin-block-end: var(--md-single); }
/* HEADINGS */
.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6 {
	color: var(--md-headline);
	font-family: PT Serif;
	font-weight: 700;
}
.huge-title, .huge-size {
	font-size: clamp(45px, 6vw, 72px);
	line-height: clamp(54px, 8vw, 96px);
}
h1, .h1, .wp-block-post-title, .h1-size {
	font-size: clamp(36px, 4vw, 48px);
	line-height: clamp(47px, 5.17vw, 62px);
}
h2, .h2, .h2-size {
	font-size: clamp(33px, 3.42vw, 41px);
	line-height: clamp(45px, 4.58vw, 55px);
}
h3, .h3, .h3-size {
	font-size: clamp(29px, 2.83vw, 34px);
	line-height: clamp(41px, 4vw, 48px);
}
h4, .h4, .widget-title, .widget .wp-block-heading, .h4-size {
	font-size: clamp(25px, 2.42vw, 29px);
	line-height: clamp(36px, 3.42vw, 41px);
}
h5, .h5, .h5-size {
	font-size: clamp(21px, 2vw, 24px);
	line-height: clamp(33px, 3.08vw, 37px);
}
h6, .h6, .h6-size {
	font-size: clamp(19px, 1.83vw, 22px);
	line-height: clamp(29px, 2.75vw, 33px);
}
:is(.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6, .wp-block-heading) a {
	color: var(--md-headline-links);
	text-decoration: none;
}
:is(.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6, .wp-block-heading) a:hover { text-decoration: underline; }
.mce-content-body :is(h1, h2, h3, h4, h5, h6) { margin-block-end: var(--md-half); }
.mce-content-body :is(.huge-title, h1, .h1, .wp-block-post-title, h2, .h2, h3, .h3, h4, .h4, .widget-title, .widget .wp-block-heading, h5, .h5, h6, .h6, .wp-block-heading):is(.alignwide, .alignfull) { text-align: center; }
.the-content :is(h2, h3, h4, h5, h6):not(:first-child) { margin-block-start: var(--md-mid); }
/* LISTS */
.mce-content-body ul { list-style: square; }
.list-check, .the-content :is(ul, ol) { margin-inline-start: var(--md-single); }
.mce-content-body li, .list-check li:not(:last-child) {
	margin-block-end: var(--md-third);
	position: relative;
}
.mce-content-body ul ul {
	margin-block-end: var(--md-half);
	margin-inline-start: var(--md-half);
}
.mce-content-body .list { margin-inline-start: 0; }
ol.list, ul.list, .list-check, .mce-content-body .list-check { list-style: none; }
.list-links li a,
.list li:not(:last-child),
.list > :is(ul, ol):not(:last-child) {
	border-block-end: 1px solid rgba(0, 0, 0, 0.15);
	padding-block-end: var(--md-half);
}
.list-links li { margin-block-end: 0; }
.list-links li a { display: block; }
.list-links li:last-child a { border-block-end: 0; }
.list-check li:before {
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 50%;
	color: var(--md-button);
	margin-inline: -39px var(--md-third);
	padding: var(--md-small);
}
.text-center ul, .text-center ol, .text-center [class^="list"] { text-align: left; }
/* BLOCK/PULL QUOTES */
blockquote {
	background-color: var(--md-color-white);
	border: 1px solid var(--md-content-border);
	border-inline-start-width: 7px;
	border-radius: var(--md-border-radius);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	color: var(--md-color-text-secondary);
	display: block;
	font-style: italic;
	margin-inline: 0;
	padding: var(--md-single);
	position: relative;
}
blockquote:before, blockquote:after {
	color: #ddd;
	font-family: Georgia, serif;
	font-size: var(--md-huge);
	font-weight: var(--md-bold);
	position: absolute;
}
blockquote:before {
	content: open-quote;
	inset-inline-start: var(--md-small);
}
blockquote:after {
	content: close-quote;
	inset-inline-end: var(--md-half);
}
.wp-block-pullquote { text-align: center; }
blockquote.is-style-plain, .is-style-plain blockquote {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	font-style: normal;
	padding: 0;
}
blockquote.is-style-plain:before, blockquote.is-style-plain:after,
.is-style-plain blockquote:before, .is-style-plain blockquote:after { content: ''; }
.mce-content-body blockquote p { margin-block-end: var(--md-half); }
.mce-content-body blockquote p + cite {
	display: block;
	margin-block-start: -16px;
}
@media (min-width: 700px) {
	:is(blockquote, .wp-block-pullquote):is(.alignleft, .alignright) { width: 192px; }
}
/* SLIM */
.slim {
	font-size: var(--md-font-size-sm);
	line-height: calc(var(--md-line-height-sm) - 1px);
}
.slim ul, .slim ol, .slim p, .slim hr,
.slim table, .slim blockquote, .slim pre, .slim .wp-caption,
.slim .wp-block-image, .slim .the-content .featured-media { margin-block-end: var(--md-half); }
.slim :last-child { margin-block-end: 0; }
.slim .entry-title, .slim .title-wrap { row-gap: var(--md-small); }
.slim .entry-title .wrap { column-gap: var(--md-half); }
.slim .byline {
	font-size: calc(var(--md-font-size-sm) - 2px);
	line-height: calc(var(--md-line-height-sm) - 1px);
}
.mce-content-body *:last-child { margin-block-end: 0; }
/*------------------------------*\
	$BUTTONS
\*------------------------------*/
button {
	appearance: none;
	background-color: transparent;
	border: 0;
	font: inherit;
}
input[type="submit"],
.link, .tag, .button, .wp-element-button {
	align-items: center;
	display: inline-flex;
	gap: var(--md-third);
	line-height: 1;
}
.cta, .wp-block-buttons {
	align-items: center;
	display: flex;
	gap: var(--md-half) calc(var(--md-half) + var(--md-third));
	justify-content: center;
}
/* LINKS */
.link:hover { text-decoration: none; }
.link-wrap {
	display: inline-flex;
	flex-direction: column;
	gap: var(--md-third);
	text-align: initial;
}
.link-icon, .trigger-icon, .input-icon {
	font-size: 26px;
	font-style: normal;
}
.link-subtitle {
	font-size: calc(var(--md-font-size-sm) - 2px);
	font-weight: normal;
}
/* TAGS */
.tag {
	background-color: var(--md-color-border);
	border-radius: 50px;
	color: var(--md-color-text);
	flex-shrink: 0;
	font-size: var(--md-font-size-sm);
	padding: var(--md-third) var(--md-half);
	text-decoration: none;
	transition: var(--md-transition);
}
.tag:hover {
	background-color: var(--md-content-border);
	color: var(--md-links);
}
/* BUTTONS */
input[type="submit"],
.button, .wp-element-button {
	appearance: none;
    background-color: var(--md-button);
	border: 0;
	border-radius: var(--md-border-radius);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: var(--md-button-text);
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	font-style: normal;
	justify-content: center;
	padding: var(--md-half) calc(var(--md-half) + var(--md-third));
	text-decoration: none;
	transition: var(--md-transition);
}
a.button { text-decoration: none; }
input[type="submit"]:hover,
.button:hover, .wp-element-button:hover { transform: translateY(1px); }
/* COLORS */
.button.white {
	background-color: var(--md-color-white);
	color: var(--md-color-text);
}
.button.button-sec {
	background-color: var(--md-button-secondary);
	color: var(--md-button-secondary-text);
}
.button.button-outline,
.is-style-outline .wp-element-button {
	background-color: transparent;
	border: 3px solid var(--md-button);
	color: var(--md-button);
}
.button.button-outline.white {
	border-color: var(--md-color-white);
	color: var(--md-color-white);
}
.button.button-outline.has-links-color {
	border-color: var(--md-links);
	color: var(--md-links);
}
/* SIZES */
.button.button-small {
	font-size: var(--md-font-size-sm);
	gap: var(--md-third);
	padding: var(--md-third) var(--md-half);
}
.button-small .link-icon { font-size: calc(var(--md-font-size) + 2px); }
.button.button-large {
	font-size: 1.4em;
	padding: calc(var(--md-half) + var(--md-small)) var(--md-single);
}
/* STYLES */
.button.button-cancel { background-color: var(--md-color-primary); }
.button.button-disabled {
	background-color: #999;
	cursor: not-allowed;
}
.button.pill { border-radius: 50px; }
.button-arrow { flex-direction: row; }
.button.button-arrow:after {
	content: '\e80f';
	font-family: 'md-icon';
	transition: var(--md-transition);
}
.button.button-arrow:hover:after { transform: translateX(4px); }
.button-arrow.down:after { content: '\e80e'; }
.button-arrow.down:hover:after { transform: none; }
/* QUERIES */
@media (max-width: 900px) {
	.cta .link {
		flex: 1;
		justify-content: center;
	}
}
/*------------------------------*\
	$HELPERS
\*------------------------------*/
/* TEXT */
.underline { text-decoration: underline; }
.no-underline { text-decoration: none; }
.normal { font-weight: normal; }
.bold { font-weight: var(--md-bold); }
.italic, .foot { font-style: italic; }
.body-font { font-family: system-ui, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; }
.h-font { font-family: PT Serif; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center, .has-text-align-center { text-align: center; }
.lh1 { line-height: 1; }
.caps { text-transform: uppercase; }
a.no-underline, .no-underline a { text-decoration: none; }
.small, .text-sec, .foot {
	font-size: 0.9em;
	line-height: 1.5em;
}
.title .small {
	font-size: 0.6em;
	line-height: 1;
}
.text-sec, .foot { color: var(--md-color-text-secondary); }
cite, .tiny {
	font-size: calc(var(--md-font-size-sm) - 2px);
	line-height: calc(var(--md-line-height-sm) - 1px);
}
.intro {
	font-size: var(--md-h6);
	line-height: var(--md-h6-line-height);
}
.highlight {
	background-color: var(--md-color-highlight);
	padding-inline: var(--md-small);
}
.note {
	background-color: var(--md-color-tertiary);
	border-radius: var(--md-border-radius);
	box-shadow: var(--md-box-shadow);
	padding: var(--md-half);
}
.alert {
	background-color: #fefbd1;
	border-radius: var(--md-border-radius);
	box-shadow: var(--md-box-shadow);
	padding: var(--md-half);
}
.badge {
    background-color: var(--md-color-warning);
    border-radius: var(--md-border-radius);
    color: var(--md-color-white);
	font-size: calc(var(--md-font-size-sm) - 2px);
	font-weight: normal;
	line-height: 1;
	padding: 4px 7px;
    position: relative;
}
.avatar {
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* BORDERS */
.radius, .radius img { border-radius: var(--md-border-radius); }
.circle { border-radius: 50%; }
.border, .border-tb, .border-bottom {
	border-style: solid;
	border-width: 1px;
}
.border-tb { border-width: 1px 0; }
.border-bottom { border-width: 0 0 1px; }
/* SHADOWS */
.shadow, .wp-block-image.shadow img { box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10); }
.shadow-small { box-shadow: var(--md-box-shadow); }
.shadow-medium { box-shadow: var(--md-box-shadow-medium); }
.shadow-large { box-shadow: var(--md-box-shadow-large); }
.shadow-huge { box-shadow: var(--md-box-shadow-huge); }
.shadow-none, .wp-block-image.shadow { box-shadow: none; }
.shadow-grow { transition: var(--md-transition); }
.shadow-grow:hover { box-shadow: 0 6px 18px rgba(0, 0, 0,.05); }
/* ICON SHAPES */
.circle-icon, .square-icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	line-height: 1;
	position: relative;
}
.circle-icon, a.circle-icon {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	color: var(--md-color-text);
	height: var(--md-single);
	width: var(--md-single);
}
.square-icon, a.square-icon {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: var(--md-border-radius);
	height: var(--md-mid);
	width: var(--md-mid);
}
.circle-icon.mid, .square-icon.mid {
	flex: 1 0 calc(var(--md-mid) + var(--md-small));
	height: calc(var(--md-mid) + var(--md-small));
	font-size: 29px;
	width: calc(var(--md-mid) + var(--md-small));
}
.circle-icon.double, .square-icon.double {
	flex: 1 0 var(--md-double);
	height: var(--md-double);
	font-size: var(--md-h2);
	width: var(--md-double);
}
.circle-icon.triple, .square-icon.triple {
	flex: 1 0 var(--md-triple);
	height: var(--md-triple);
	font-size: var(--md-h1);
	width: var(--md-triple);
}
/* LAYOUT */
.fl {
	align-items: center;
	display: flex;
	gap: var(--md-half);
}
.auto { margin-inline: auto; }
.grow { flex: 1; }
.shrink { flex-shrink: 0; }
.reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.fl-center { justify-content: center; }
.is-vertically-aligned-center { align-self: center; }
.start { align-items: start; }
.end { justify-content: end; }
@media (max-width: 900px) {
	.center-mobile {
		flex-flow: wrap;
		justify-content: center;
	}
    .column-mobile { flex-direction: column; }
}
/* WIDTHS */
.content-width { max-width: var(--md-width-content); }
.post-width { max-width: var(--md-width-post); }
.sidebar-width { max-width: var(--md-width-sidebar); }
.width-full { width: 100%; }
/* COLUMNS */
[class*="columns-"] {
	display: grid;
	gap: var(--md-single);
	width: 100%;
}
.entry, .col {
	min-width: 0;
	position: relative;
	width: 100%;
}
.col-full { grid-column: 1 / -1; }
.columns-6 { grid-template-columns: repeat(6, 1fr); }
@media all and (min-width: 600px) {
		.columns-3 { grid-template-columns: repeat(2, 1fr); }
		.columns-4 { grid-template-columns: repeat(2, 1fr); }
		.columns-5 { grid-template-columns: repeat(2, 1fr); }
	}
@media all and (min-width: 800px) {
		.columns-2 { grid-template-columns: repeat(2, 1fr); }
		.columns-3 { grid-template-columns: repeat(3, 1fr); }
		.columns-4 { grid-template-columns: repeat(4, 1fr); }
		.columns-5 { grid-template-columns: repeat(5, 1fr); }
		.columns-6 { grid-template-columns: repeat(6, 1fr); }
	}
.columns-fluid-2 { grid-template-columns: repeat(auto-fit, minmax(max(384px, calc((100% - (1 * var(--md-single))) / 2)), 1fr)); }
.columns-fluid-3 { grid-template-columns: repeat(auto-fit, minmax(max(245px, calc((100% - (2 * var(--md-single))) / 3)), 1fr)); }
.columns-fluid-4 { grid-template-columns: repeat(auto-fit, minmax(max(176px, calc((100% - (3 * var(--md-single))) / 4)), 1fr)); }
.columns-fluid-5 { grid-template-columns: repeat(auto-fit, minmax(max(150px, calc((100% - (4 * var(--md-single))) / 5)), 1fr)); }
.columns-fluid-6 { grid-template-columns: repeat(auto-fit, minmax(max(150px, calc((100% - (5 * var(--md-single))) / 6)), 1fr)); }
/* WP COLUMNS (EXPERIMENTAL) */
.wp-block-columns { display: flex; }
.wp-block-column {
	flex-basis: 0;
	flex-grow: 1;
}
.mt-small:not(:first-child) { margin-block-start: var(--md-small); }
.mt-third:not(:first-child) { margin-block-start: var(--md-third); }
.mt-half:not(:first-child) { margin-block-start: var(--md-half); }
.mt-single:not(:first-child) { margin-block-start: var(--md-single); }
.mt-mid:not(:first-child) { margin-block-start: var(--md-mid); }
.mt-double:not(:first-child) { margin-block-start: var(--md-double); }
.mt-triple:not(:first-child) { margin-block-start: var(--md-triple); }
.mt-quad:not(:first-child) { margin-block-start: var(--md-quad); }
.mr-half { margin-inline-end: var(--md-half); }
.mr-third { margin-inline-end: var(--md-third); }
.mr-small { margin-inline-end: var(--md-small); }
.mb-small, .mce-content-body .mb-small:not(:last-child) { margin-block-end: var(--md-small); }
.mb-third, .mce-content-body .mb-third:not(:last-child) { margin-block-end: var(--md-third); }
.mb-half, .mce-content-body .mb-half:not(:last-child) { margin-block-end: var(--md-half); }
.mb-single, .mce-content-body .mb-single:not(:last-child) { margin-block-end: var(--md-single); }
.mb-mid, .mce-content-body .mb-mid:not(:last-child) { margin-block-end: var(--md-mid); }
.mb-double, .mce-content-body .mb-double:not(:last-child) { margin-block-end: var(--md-double); }
.mb-triple, .mce-content-body .mb-triple:not(:last-child) { margin-block-end: var(--md-triple); }
.mb-quad, .mce-content-body .mb-quad:not(:last-child) { margin-block-end: var(--md-quad); }
.break-double, .mce-content-body .break-double { margin-block-end: calc(-1 * var(--md-double)); }
.break-mid, .mce-content-body .break-mid { margin-block-end: calc(-1 * var(--md-mid)); }
.break-single, .mce-content-body .break-single { margin-block-end: calc(-1 * var(--md-single)); }
.break-half, .mce-content-body .break-half { margin-block-end: calc(-1 * var(--md-half)); }
.mb-none, .mce-content-body .mb-none { margin-block-end: 0; }
.ml-half { margin-inline-start: var(--md-half); }
.ml-third { margin-inline-start: var(--md-third); }
.ml-small { margin-inline-start: var(--md-small); }
.gap-small, .columns-small { gap: var(--md-small); }
.gap-third, .columns-third { gap: var(--md-third); }
.gap-half, .columns-half { gap: var(--md-half); }
.gap-single, .columns-single { gap: var(--md-single); }
.gap-mid, .columns-mid { gap: var(--md-mid); }
.gap-double, .columns-double { gap: var(--md-double); }
.gap-triple, .columns-triple { gap: var(--md-triple); }
.gap-quad, .columns-quad { gap: var(--md-quad); }
.block-small { padding: var(--md-small); }
.block-small-tb { padding-block: var(--md-small); }
.block-small-lr { padding-inline: var(--md-small); }
.block-small-top { padding-block-start: var(--md-small); }
.block-small-bot { padding-block-end: var(--md-small); }
.block-third { padding: var(--md-third); }
.block-third-tb { padding-block: var(--md-third); }
.block-third-lr { padding-inline: var(--md-third); }
.block-third-top { padding-block-start: var(--md-third); }
.block-third-bot { padding-block-end: var(--md-third); }
.block-half { padding: var(--md-half); }
.block-half-tb { padding-block: var(--md-half); }
.block-half-lr { padding-inline: var(--md-half); }
.block-half-top { padding-block-start: var(--md-half); }
.block-half-bot { padding-block-end: var(--md-half); }
.block-single { padding: var(--md-single); }
.block-single-tb { padding-block: var(--md-single); }
.block-single-lr { padding-inline: var(--md-single-x); }
.block-single-top { padding-block-start: var(--md-single); }
.block-single-bot { padding-block-end: var(--md-single); }
.block-mid { padding: var(--md-mid); }
.block-mid-tb { padding-block: var(--md-mid); }
.block-mid-lr { padding-inline: var(--md-mid-x); }
.block-mid-top { padding-block-start: var(--md-mid); }
.block-mid-bot { padding-block-end: var(--md-mid); }
.block-triple { padding: var(--md-triple); }
.block-triple-tb { padding-block: var(--md-triple); }
.block-triple-lr { padding-inline: var(--md-triple-x); }
.block-triple-top { padding-block-start: var(--md-triple); }
.block-triple-bot { padding-block-end: var(--md-triple); }
.block-double { padding: var(--md-double); }
.block-double-tb { padding-block: var(--md-double); }
.block-double-lr { padding-inline: var(--md-double-x); }
.block-double-top { padding-block-start: var(--md-double); }
.block-double-bot { padding-block-end: var(--md-double); }
.block-quad { padding: var(--md-quad); }
.block-quad-tb { padding-block: var(--md-quad); }
.block-quad-lr { padding-inline: var(--md-quad-x); }
.block-quad-top { padding-block-start: var(--md-quad); }
.block-quad-bot { padding-block-end: var(--md-quad); }
.pb-none { padding-block-end: 0; }
.has-background-background-color { background-color: #FFFFFF; }
.has-background-border-color { border-color: #FFFFFF; }
.has-background-color, a.has-background-color { color: #FFFFFF; }
.has-surface-background-color { background-color: #F0F0F0; }
.has-surface-border-color { border-color: #F0F0F0; }
.has-surface-color, a.has-surface-color { color: #F0F0F0; }
.has-primary-background-color { background-color: #AE2525; }
.has-primary-border-color { border-color: #AE2525; }
.has-primary-color, a.has-primary-color { color: #AE2525; }
.has-secondary-background-color { background-color: #2E2E2E; }
.has-secondary-border-color { border-color: #2E2E2E; }
.has-secondary-color, a.has-secondary-color { color: #2E2E2E; }
.has-tertiary-background-color { background-color: #DDDDDD; }
.has-tertiary-border-color { border-color: #DDDDDD; }
.has-tertiary-color, a.has-tertiary-color { color: #DDDDDD; }
.has-border-background-color { background-color: #CCCCCC; }
.has-border-border-color { border-color: #CCCCCC; }
.has-border-color, a.has-border-color { color: #CCCCCC; }
.has-highlight-background-color { background-color: #FFFBCC; }
.has-highlight-border-color { border-color: #FFFBCC; }
.has-highlight-color, a.has-highlight-color { color: #FFFBCC; }
.has-text-main-background-color { background-color: #1E1E1E; }
.has-text-main-border-color { border-color: #1E1E1E; }
.has-text-main-color, a.has-text-main-color { color: #1E1E1E; }
.has-text-secondary-background-color { background-color: #777777; }
.has-text-secondary-border-color { border-color: #777777; }
.has-text-secondary-color, a.has-text-secondary-color { color: #777777; }
.has-button-background-color { background-color: #22A340; }
.has-button-border-color { border-color: #22A340; }
.has-button-color, a.has-button-color { color: #22A340; }
.has-white-background-color { background-color: #FFFFFF; }
.has-white-border-color { border-color: #FFFFFF; }
.has-white-color, a.has-white-color { color: #FFFFFF; }
/* ANIMATIONS */
@keyframes md-fade {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes md-slide-up {
	from { opacity: 0; transform: translateY(60px); }
	to { opacity: 1; transform: none; }
}
@keyframes md-slide-down {
	from { opacity: 0; transform: translateY(-60px); }
	to { opacity: 1; transform: none; }
}
@keyframes md-zoom {
	from { opacity: 0; transform: scale(0.8); }
	to { opacity: 1; transform: none; }
}
.animate-fade { animation: md-fade var(--md-transition-slow) ease-out both; }
.animate-slide-up { animation: md-slide-up var(--md-transition-slow) ease-out both; }
.animate-slide-down { animation: md-slide-down var(--md-transition-slow) ease-out both; }
.animate-zoom { animation: md-zoom var(--md-transition-slow) ease-out both; }
/*------------------------------*\
	$WIDGETS
\*------------------------------*/
.mce-content-body .widget:not(:last-child) { margin-block-end: var(--md-single); }
.wp-block-latest-comments__comment { line-height: inherit; }
/* BLOCKS */
.callout {
	border-style: solid;
	border-width: 4px;
	border-radius: var(--md-border-radius);
	position: relative;
}
.callout.has-icon { padding-block-start: 0; }
.callout.has-icon:not(:first-child) { margin-block-start: var(--md-double); }
.callout-icon {
	margin-block-start: calc(calc(-1 * var(--md-triple)) / 2);
	margin-inline: auto;
}
/* MENU */
.mce-content-body .widget_nav_menu :is(.menu, .sub-menu) {
	margin-inline-start: 0;
	margin-block-start: 0;
}
.widget_nav_menu .sub-menu { display: none !important /*temporary*/; }
.widget_nav_menu .menu-item {
	display: block;
	margin-block-end: 0;
}
.widget_nav_menu .menu-item a {
	padding: var(--md-third) 0;
	width: 100%;
}
.widget_nav_menu .menu-item:not(:last-child) { border-block-end: 1px solid var(--md-content-border); }
/* SEARCH */
.wp-block-search__input {
	align-self: normal;
	margin-inline-end: 2%;
}
.mce-content-body .wp-block-search .wp-block-search__input { margin-block-end: 0; }
.wp-block-search__button { align-self: flex-start; }
/* RSS */
.rsswidget img {
	margin-inline-end: 4px;
	margin-block-start: 9px;
}
.rss-date, .widget_rss cite {
	display: block;
	margin-block-start: 13px;
}
.rss-date { margin-block-end: var(--md-half); }
.widget_rss cite:before { content: "\2014\00a0"; }
/* CALENDAR */
#wp-calendar {
	border-collapse: collapse;
	font-size: var(--md-font-size-sm);
	line-height: 1;
	margin-block-end: var(--md-small);
	margin-block-start: 0;
	text-align: center;
	width: 100%;
}
.style-default #wp-calendar {
	background-color: var(--md-content);
	border-radius: var(--md-border-radius);
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	color: var(--md-color-text);
}
#wp-calendar td { padding: var(--md-third); }
#wp-calendar thead th { padding-block: var(--md-third); }
#wp-calendar thead th { background-color: #f9f9f9; }
#wp-calendar tbody a { font-weight: var(--md-bold); }
#wp-calendar thead tr, #wp-calendar tbody td { border-block-end: 1px solid var(--md-content-border); }
#wp-calendar caption {
	background-color: var(--md-color-primary);
	border-radius: var(--md-border-radius) var(--md-border-radius) 0 0;
	color: var(--md-color-white);
	padding: var(--md-half);
}
/*------------------------------*\
	$LOOP
\*------------------------------*/
.clear:after,
.entry.image-inline .the-content .wrap:after,
.entry.image-inline .the-content .featured-media + :is(h2, h3, h4, h5, h6) {
	clear: both;
	content: '';
	display: table;
}
.loop:not(.content):not(:last-child) { margin-block-end: var(--md-single); }
.expanded .item:not(.post-title) .wrap {
	margin-inline: auto;
	max-width: var(--md-width-post);
	width: 100%;
}
/* SLIM */
.loop.columns.slim { gap: var(--md-half); }
.slim.box-entry .entry-title:not(.cover):not(:empty) { padding-block-end: var(--md-half); }
/* COVER */
.entry .cover, .content .page-title.cover { padding-inline: var(--md-half); }
.full-cover .page-title,
.full-cover .main > .post-title { padding-block: calc(var(--md-quad) * 2) var(--md-double); }
.header-cover .main { padding-block-start: 0; }
/* BOX STYLE */
.main:has(.box-style.loop) { background-color: var(--md-color-surface); }
.box, .box-entry .entry,
.content :is(.page-title.cover, .page-title.cover .overlay),
.entry :is(.cover, .cover .overlay),
.featured-media, .featured-media img,
.box-entry .entry .item:nth-child(1 of .item):nth-last-child(1 of .item) { border-radius: var(--md-border-radius); }
.box-entry .entry .item:nth-child(1 of .item),
.box-entry .entry :is(.cover, .overlay),
.box-entry .image-above :is(.featured-media, .featured-media img),
.header-cover .box-entry .image-full :is(.featured-media, .featured-media img) { border-radius: var(--md-border-radius) var(--md-border-radius) 0 0; }
.box-entry .entry .item:nth-last-child(1 of .item),
.box-entry .image-above :is(.cover, .overlay, .featured-media + .item) { border-radius: 0 0 var(--md-border-radius) var(--md-border-radius); }
.box-entry .image-below .featured-media img,
.box-entry .entry.image-below .featured-media + .the-content { border-radius: 0; }
.box, .box-entry .entry,
.cover, .featured-media img { box-shadow: var(--md-box-shadow); }
.box, .box-entry .item,
.box-entry .image-full .featured-media,
.box-style .comment-details,
.box-entry.columns .entry { background-color: var(--md-content); }
.box-entry.columns .entry .item {
	background-color: transparent;
	box-shadow: none;
}
.box-entry .byline.post-footer,
.box-style.category-view .post-footer { border-block-start: 1px solid var(--md-color-border); }
.box-entry .post-footer { border-block-start: 1px solid var(--md-color-border); }
.box, .box-entry .entry { width: auto; }
.row .box-group:not(:last-child),
.box-entry.row.full > .item:not(:last-child),
.box-entry.row.full .entry:not(:last-child) { margin-block-end: var(--md-single); }
.box-entry.loop-article.full .entry { margin-inline: calc(-1 * clamp(0px, calc((100vw - var(--md-width-site)) / -2), var(--md-half))); }
.box-entry .item { padding: var(--md-single) var(--md-half); }
.box-entry .entry .byline.post-footer { padding: var(--md-half); }
.box-entry .entry-title:not(.cover):not(:empty) + .the-content { padding-block-start: 0; }
.compact .box-entry.full .post-title { padding-block-end: var(--md-single); }
.box-group {
	border-radius: var(--md-border-radius);
	box-shadow: var(--md-box-shadow);
	background-color: var(--md-content);
}
/* PLAIN + BORDER STYLES */
.expanded :is(.plain-style, .border-style).loop-article.row > .entry:not(:last-child) { margin-block-end: var(--md-triple); }
.compact :is(.plain-style, .border-style).loop-article.row > .entry,
:is(.plain-style, .border-style).loop-article.row > .entry > .item:not(:last-child) { margin-block-end: var(--md-mid); }
:is(.plain-style, .border-style).columns .entry > *:not(:last-child) { margin-block-end: var(--md-half); }
:is(.plain-style, .border-style).loop-article.image-above.has-cover > .featured-media,
:is(.plain-style, .border-style).loop-article.image-below.has-cover > .post-title { margin-block-end: 0; }
/* BORDER STYLE */
.is-border-style .header:not(.cover) { border-block-end: 1px solid var(--md-header-border); }
.is-border-style .footer { border-block-start: 1px solid var(--md-footer-border); }
.is-border-style .page-title:not(.cover) {
	border-block-end: 1px solid var(--md-color-border);
	padding-block-end: var(--md-mid);
}
.border-style.row .entry:not(:first-child) {
	border-block-start: 1px solid var(--md-color-border);
	padding-block-start: var(--md-mid);
}
.border-style.row :is(.entry.has-cover, .entry.image-above) {
	border-block-start: 0;
	padding-block-start: 0;
}
/* LOOP LIST */
.loop-list > .entry {
	border-block-end: 1px solid var(--md-color-border);
	padding: var(--md-half);
}
.loop-list .title {
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
}
.loop-list .title a {
	color: var(--md-links);
	text-decoration: underline;
}
.loop-list .title a:hover { text-decoration: none; }
/* CATEGORY VIEWS */
.category-title { row-gap: var(--md-small); }
.category-posts .category-title { margin-block-end: var(--md-half); }
.category-title .title {
	font-size: var(--md-h3);
	line-height: var(--md-h3-line-height);
}
.category-more a {
	display: block;
	padding: var(--md-half);
	text-align: center;
	width: 100%;
}
.category-view .category-title:not(:last-child) { margin-block-end: var(--md-single); }
.category-view .box-group {
	display: flex;
	flex-direction: column;
	padding: var(--md-single);
}
.category-view.box-style .post-footer {
	margin-top: auto;
	padding-block-start: var(--md-half);
}
/* QUERIES */
@media (min-width: 672px) {
	.box-entry.full .item { padding: var(--md-mid); }
	.cover { padding-block: var(--md-mid); }
	.entry .cover, .content .page-title.cover { padding-inline: var(--md-mid); }
	.loop.slim .title {
		font-size: var(--md-h4);
		line-height: var(--md-h4-line-height);
	}
}
/* CLASSIC EDITOR */
.mce-content-body {
	background-color: #F0F0F0;
	color: #1E1E1E;
	font-family: system-ui, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 20px;
	line-height: 32px;
	max-width: 672px;
	margin-inline: auto;
}
.mce-content-body :is(h2, h3, h4, h5, h6):not(:first-child) { margin-block-start: 48px; }