/*------------------------------*\
	$BOOKSHELF
\*------------------------------*/

.loop-bookshelf .breadcrumbs { text-align: center; }

.md-popup-bookshelf { background-color: #F9FCE9; }

.post-type-archive-bookshelf .content, .tax-bookshelf_categories .content { box-shadow: none; }

.bookshelf-category.is-active { font-weight: bold; }

.bookshelf-row:after {
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	content: '';
	display: block;
	height: 13px;
	width: 100%;
}

.book-thumb, .book .book-thumb a {
	border-bottom: 0;
	display: block;
}

.book-thumb img { box-shadow: 1px 0px 16px rgba(0, 0, 0, 0.1); }

.bookshelf-grid, .bookshelf-excerpt .book { text-align: center; }

.bookshelf-grid .book {
	display: inline-block;
	float: none;
	margin-left: -5px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: bottom;
	width: 20%;
}

.book-rating {
	color: #999;
	font-size: 20px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.widget .bookshelf-grid { padding-top: 0; }

@media all and (min-width: 900px) {
	.bookshelf-excerpt .book {
		float: left;
		position: relative;
		width: 30%;
		z-index: 10;
	}
	.bookshelf-excerpt .book-text {
		float: left;
		width: 70%;
	}
}

@media all and (max-width: 900px) {
	.bookshelf-grid .book {
		padding-left: 5px;
		padding-right: 5px;
	}
}